{% extends "account/base.html" %}
{% load static %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock head_title %}

{% block breadcrumb %}
<!-- Breadcrumb -->
<section class="breadcrumb">
    <div class="breadcrumb_inner relative sm:mt-20 mt-16 lg:py-20 py-14">
        <div class="breadcrumb_bg absolute top-0 left-0 w-full h-full">
            <img src="{% static '/assets/images/components/breadcrumb_candidate.webp' %}" alt="breadcrumb_candidate" class="w-full h-full object-cover" />
        </div>
        <div class="container relative h-full">
            <div class="breadcrumb_content flex flex-col items-start justify-center xl:w-[1000px] lg:w-[848px] md:w-5/6 w-full h-full">
                <div class="list_breadcrumb flex items-center gap-2 animate animate_top" style="--i: 1">
                    <a href="{% url 'home' %}" class="caption1 text-white">Home</a>
                    <span class="caption1 text-white opacity-40">/</span>
                    <span class="caption1 text-white">Pages</span>
                    <span class="caption1 text-white opacity-40">/</span>
                    <span class="caption1 text-white opacity-60">Sign Out</span>
                </div>
                <h3 class="heading3 text-white mt-2 animate animate_top" style="--i: 2">{% trans "Sign Out" %}</h3>
            </div>
        </div>
    </div>
</section>
{% endblock breadcrumb %}

{% block content %}

<!-- Form Login -->
<section class="form_login lg:py-20 sm:py-14 py-10">
    <div class="container flex items-center justify-center">
        <div class="content sm:w-[448px] w-full">
            <h3 class="heading3 text-center">{% trans "Sign Out" %}</h3>
            <form class="form mt-6" action="{% url 'account_logout' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="sign_out_confirmation">{% trans 'Are you sure you want to sign out?' %}</label>
                      {% if redirect_field_value %}
                      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                      {% endif %}
                </div>
                <div class="block-button mt-6">
                    <button type="submit" class="button-main bg-primary w-full text-center">{% trans 'Sign Out' %}</button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock content %}
