<!-- Blog -->
<section class="blog lg:py-20 sm:py-14 py-10">
            <div class="container">
                <h3 class="heading3 text-center animate animate_top" style="--i: 1">Guild to help you grow</h3>
                <p class="body2 text-secondary text-center mt-3 animate animate_top" style="--i: 2">Find the right career opportunity for you</p>
                <div class="list_blog grid xl:grid-cols-4 lg:grid-cols-3 sm:grid-cols-2 lg:gap-7.5 gap-6 md:mt-10 mt-7">
                    <div class="blog_item animate animate_top" style="--i: 1">
                        <a href="blog-detail1.html" class="blog_thumb block overflow-hidden rounded-xl">
                            <img src="../../assets/images/blog/1.webp" alt="1" class="blog_img w-full" />
                        </a>
                        <div class="blog_info flex items-center gap-2 mt-5">
                            <span class="blog_date caption1">February 28, 2024</span>
                            <div class="line w-px h-3 bg-line"></div>
                            <a href="blog-default.html" class="caption1 duration-300 hover:text-primary">Freelancers</a>
                        </div>
                        <a href="blog-detail1.html" class="heading5 blog_title mt-3 hover:underline">Boosting your freelancing game: AI tools for enhanced efficiency</a>
                        <p class="blog_desc mt-2 text-secondary">AI tools have emerged as a powerful ally for freelancers across diverse fields.</p>
                    </div>
                    <div class="blog_item animate animate_top" style="--i: 2">
                        <a href="blog-detail1.html" class="blog_thumb block overflow-hidden rounded-xl">
                            <img src="../../assets/images/blog/2.webp" alt="2" class="blog_img w-full" />
                        </a>
                        <div class="blog_info flex items-center gap-2 mt-5">
                            <span class="blog_date caption1">February 28, 2024</span>
                            <div class="line w-px h-3 bg-line"></div>
                            <a href="blog-default.html" class="caption1 duration-300 hover:text-primary">Developement</a>
                        </div>
                        <a href="blog-detail1.html" class="heading5 blog_title mt-3 hover:underline">5 ways to enhance your business website in 2024</a>
                        <p class="blog_desc mt-2 text-secondary">If it's been a while since your last website upgrade, you may be missing out on some big opportunities.</p>
                    </div>
                    <div class="blog_item animate animate_top" style="--i: 3">
                        <a href="blog-detail1.html" class="blog_thumb block overflow-hidden rounded-xl">
                            <img src="../../assets/images/blog/3.webp" alt="3" class="blog_img w-full" />
                        </a>
                        <div class="blog_info flex items-center gap-2 mt-5">
                            <span class="blog_date caption1">February 28, 2024</span>
                            <div class="line w-px h-3 bg-line"></div>
                            <a href="blog-default.html" class="caption1 duration-300 hover:text-primary">Marketing</a>
                        </div>
                        <a href="blog-detail1.html" class="heading5 blog_title mt-3 hover:underline">How No-Code Solutions Let You Build Apps Without Coding Skills</a>
                        <p class="blog_desc mt-2 text-secondary">In this blog article by our partner Appy Pie, we're exploring what no-code app development.</p>
                    </div>
                    <div class="blog_item max-xl:hidden max-lg:block animate animate_top" style="--i: 4">
                        <a href="blog-detail1.html" class="blog_thumb block overflow-hidden rounded-xl">
                            <img src="../../assets/images/blog/4.webp" alt="4" class="blog_img w-full" />
                        </a>
                        <div class="blog_info flex items-center gap-2 mt-5">
                            <span class="blog_date caption1">February 28, 2024</span>
                            <div class="line w-px h-3 bg-line"></div>
                            <a href="blog-default.html" class="caption1 duration-300 hover:text-primary">Marketing</a>
                        </div>
                        <a href="blog-detail1.html" class="heading5 blog_title mt-3 hover:underline">Boosting your freelancing game: AI tools for enhanced efficiency</a>
                        <p class="blog_desc mt-2 text-secondary">In this blog article by our partner Appy Pie, we're exploring what no-code app development.</p>
                    </div>
                </div>
            </div>
        </section>