<!-- Feature services -->
<section class="feature_services lg:pb-20 sm:pb-14 pb-10">
            <div class="container">
                <div class="heading flex flex-col items-center">
                    <h3 class="heading3 text-center animate animate_top" style="--i: 1">Feature services</h3>
                    <p class="body2 text-secondary text-center mt-3 animate animate_top" style="--i: 2">Discover our featured services designed to elevate your experience</p>
                    <div class="heading_menu border-b border-line md:mt-7 mt-5 animate animate_top" style="--i: 3">
                        <div class="menu_tab">
                            <ul class="menu flex gap-7" role="tablist">
                                <li class="indicator absolute bottom-0 h-0.5 bg-primary rounded-full duration-300"></li>
                                <li class="tab_item" role="presentation">
                                    <button class="tab_btn -before py-1 text-button hover:text-primary duration-300 active" id="services_tab01" role="tab" aria-controls="services_01" aria-selected="true">Graphic & Design</button>
                                </li>
                                <li class="tab_item" role="presentation">
                                    <button class="tab_btn -before py-1 text-button hover:text-primary duration-300" id="services_tab02" role="tab" aria-controls="services_02" aria-selected="false">Digital Marketing</button>
                                </li>
                                <li class="tab_item" role="presentation">
                                    <button class="tab_btn -before py-1 text-button hover:text-primary duration-300" id="services_tab03" role="tab" aria-controls="services_03" aria-selected="false">Development</button>
                                </li>
                                <li class="tab_item" role="presentation">
                                    <button class="tab_btn -before py-1 text-button hover:text-primary duration-300" id="services_tab04" role="tab" aria-controls="services_04" aria-selected="false">UI/UX Design</button>
                                </li>
                                <li class="tab_item" role="presentation">
                                    <button class="tab_btn -before py-1 text-button hover:text-primary duration-300" id="services_tab05" role="tab" aria-controls="services_05" aria-selected="false">Writing</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="services_01" class="tab_list active" role="tabpanel" aria-labelledby="services_tab01" aria-hidden="false">
                    <ul class="list grid xl:grid-cols-4 sm:grid-cols-2 gap-7.5 md:mt-10 mt-7">
                        <li class="item animate animate_top" style="--i: 1">
                            <div class="service_item overflow-hidden relative rounded-lg bg-white shadow-md duration-300 hover:shadow-xl">
                                <button class="add_wishlist_btn">
                                    <span class="ph ph-heart text-xl"></span>
                                    <span class="ph-fill ph-heart text-xl"></span>
                                </button>
                                <a href="services-detail1.html" class="service_thumb">
                                    <img src="../../assets/images/service/1.webp" alt="1" class="w-full" />
                                </a>
                                <div class="service_info py-5 px-4">
                                    <div class="flex items-center justify-between">
                                        <a href="services-default.html" class="tag caption2 bg-surface hover:bg-primary hover:text-white">Graphic & Design</a>
                                        <div class="rate flex items-center gap-1">
                                            <span class="ph-fill ph-star text-yellow text-xs"></span>
                                            <strong class="service_rate text-button-sm">4.9</strong>
                                            <span class="service_rate_quantity caption1 text-secondary">(482)</span>
                                        </div>
                                    </div>
                                    <a href="services-detail1.html" class="service_title text-title pt-2 duration-300 hover:text-primary">Professional seo services to boost your website's visibility</a>
                                    <div class="service_more_info flex items-center justify-between gap-1 mt-4 pt-4 border-t border-line">
                                        <a href="candidates-detail1.html" class="service_author flex items-center gap-2">
                                            <img src="../../assets/images/avatar/IMG-1.webp" alt="IMG-1" class="service_author_avatar w-8 h-8 rounded-full" />
                                            <span class="service_author_name -style-1">Floyd Miles</span>
                                        </a>
                                        <div class="service_price whitespace-nowrap">
                                            <span class="text-secondary">From </span>
                                            <span class="price text-title">$75</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item animate animate_top" style="--i: 2">
                            <div class="service_item overflow-hidden relative rounded-lg bg-white shadow-md duration-300 hover:shadow-xl">
                                <button class="add_wishlist_btn">
                                    <span class="ph ph-heart text-xl"></span>
                                    <span class="ph-fill ph-heart text-xl"></span>
                                </button>
                                <a href="services-detail1.html" class="service_thumb">
                                    <img src="../../assets/images/service/2.webp" alt="2" class="w-full" />
                                </a>
                                <div class="service_info py-5 px-4">
                                    <div class="flex items-center justify-between">
                                        <a href="services-default.html" class="tag caption2 bg-surface hover:bg-primary hover:text-white">Development</a>
                                        <div class="rate flex items-center gap-1">
                                            <span class="ph-fill ph-star text-yellow text-xs"></span>
                                            <strong class="service_rate text-button-sm">4.9</strong>
                                            <span class="service_rate_quantity caption1 text-secondary">(482)</span>
                                        </div>
                                    </div>
                                    <a href="services-detail1.html" class="service_title text-title pt-2 duration-300 hover:text-primary">I will create stunning logo designs for your business</a>
                                    <div class="service_more_info flex items-center justify-between gap-1 mt-4 pt-4 border-t border-line">
                                        <a href="candidates-detail1.html" class="service_author flex items-center gap-2">
                                            <img src="../../assets/images/avatar/IMG-2.webp" alt="IMG-2" class="service_author_avatar w-8 h-8 rounded-full" />
                                            <span class="service_author_name -style-1">Cameron</span>
                                        </a>
                                        <div class="service_price whitespace-nowrap">
                                            <span class="text-secondary">From </span>
                                            <span class="price text-title">$75</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item animate animate_top" style="--i: 3">
                            <div class="service_item overflow-hidden relative rounded-lg bg-white shadow-md duration-300 hover:shadow-xl">
                                <button class="add_wishlist_btn">
                                    <span class="ph ph-heart text-xl"></span>
                                    <span class="ph-fill ph-heart text-xl"></span>
                                </button>
                                <a href="services-detail1.html" class="service_thumb">
                                    <img src="../../assets/images/service/3.webp" alt="3" class="w-full" />
                                </a>
                                <div class="service_info py-5 px-4">
                                    <div class="flex items-center justify-between">
                                        <a href="services-default.html" class="tag caption2 bg-surface hover:bg-primary hover:text-white">UI/UX Design</a>
                                        <div class="rate flex items-center gap-1">
                                            <span class="ph-fill ph-star text-yellow text-xs"></span>
                                            <strong class="service_rate text-button-sm">4.9</strong>
                                            <span class="service_rate_quantity caption1 text-secondary">(482)</span>
                                        </div>
                                    </div>
                                    <a href="services-detail1.html" class="service_title text-title pt-2 duration-300 hover:text-primary">I will design UI UX design for App in Figma</a>
                                    <div class="service_more_info flex items-center justify-between gap-1 mt-4 pt-4 border-t border-line">
                                        <a href="candidates-detail1.html" class="service_author flex items-center gap-2">
                                            <img src="../../assets/images/avatar/IMG-3.webp" alt="IMG-3" class="service_author_avatar w-8 h-8 rounded-full" />
                                            <span class="service_author_name -style-1">Theresa Webb</span>
                                        </a>
                                        <div class="service_price whitespace-nowrap">
                                            <span class="text-secondary">From </span>
                                            <span class="price text-title">$75</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item animate animate_top" style="--i: 4">
                            <div class="service_item overflow-hidden relative rounded-lg bg-white shadow-md duration-300 hover:shadow-xl">
                                <button class="add_wishlist_btn">
                                    <span class="ph ph-heart text-xl"></span>
                                    <span class="ph-fill ph-heart text-xl"></span>
                                </button>
                                <a href="services-detail1.html" class="service_thumb">
                                    <img src="../../assets/images/service/4.webp" alt="4" class="w-full" />
                                </a>
                                <div class="service_info py-5 px-4">
                                    <div class="flex items-center justify-between">
                                        <a href="services-default.html" class="tag caption2 bg-surface hover:bg-primary hover:text-white">Digital Marketing</a>
                                        <div class="rate flex items-center gap-1">
                                            <span class="ph-fill ph-star text-yellow text-xs"></span>
                                            <strong class="service_rate text-button-sm">4.9</strong>
                                            <span class="service_rate_quantity caption1 text-secondary">(482)</span>
                                        </div>
                                    </div>
                                    <a href="services-detail1.html" class="service_title text-title pt-2 duration-300 hover:text-primary">I will translate your documents with accuracy and precision</a>
                                    <div class="service_more_info flex items-center justify-between gap-1 mt-4 pt-4 border-t border-line">
                                        <a href="candidates-detail1.html" class="service_author flex items-center gap-2">
                                            <img src="../../assets/images/avatar/IMG-4.webp" alt="IMG-4" class="service_author_avatar w-8 h-8 rounded-full" />
                                            <span class="service_author_name -style-1">Marvin McKinney</span>
                                        </a>
                                        <div class="service_price whitespace-nowrap">
                                            <span class="text-secondary">From </span>
                                            <span class="price text-title">$75</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item animate animate_top" style="--i: 5">
                            <div class="service_item overflow-hidden relative rounded-lg bg-white shadow-md duration-300 hover:shadow-xl">
                                <button class="add_wishlist_btn">
                                    <span class="ph ph-heart text-xl"></span>
                                    <span class="ph-fill ph-heart text-xl"></span>
                                </button>
                                <a href="services-detail1.html" class="service_thumb">
                                    <img src="../../assets/images/service/5.webp" alt="5" class="w-full" />
                                </a>
                                <div class="service_info py-5 px-4">
                                    <div class="flex items-center justify-between">
                                        <a href="services-default.html" class="tag caption2 bg-surface hover:bg-primary hover:text-white">Development</a>
                                        <div class="rate flex items-center gap-1">
                                            <span class="ph-fill ph-star text-yellow text-xs"></span>
                                            <strong class="service_rate text-button-sm">4.9</strong>
                                            <span class="service_rate_quantity caption1 text-secondary">(482)</span>
                                        </div>
                                    </div>
                                    <a href="services-detail1.html" class="service_title text-title pt-2 duration-300 hover:text-primary">I will do background illustration and environment concept art</a>
                                    <div class="service_more_info flex items-center justify-between gap-1 mt-4 pt-4 border-t border-line">
                                        <a href="candidates-detail1.html" class="service_author flex items-center gap-2">
                                            <img src="../../assets/images/avatar/IMG-5.webp" alt="IMG-5" class="service_author_avatar w-8 h-8 rounded-full" />
                                            <span class="service_author_name -style-1">Kristin Watson</span>
                                        </a>
                                        <div class="service_price whitespace-nowrap">
                                            <span class="text-secondary">From </span>
                                            <span class="price text-title">$75</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item animate animate_top" style="--i: 6">
                            <div class="service_item overflow-hidden relative rounded-lg bg-white shadow-md duration-300 hover:shadow-xl">
                                <button class="add_wishlist_btn">
                                    <span class="ph ph-heart text-xl"></span>
                                    <span class="ph-fill ph-heart text-xl"></span>
                                </button>
                                <a href="services-detail1.html" class="service_thumb">
                                    <img src="../../assets/images/service/6.webp" alt="6" class="w-full" />
                                </a>
                                <div class="service_info py-5 px-4">
                                    <div class="flex items-center justify-between">
                                        <a href="services-default.html" class="tag caption2 bg-surface hover:bg-primary hover:text-white">UI/UX Design</a>
                                        <div class="rate flex items-center gap-1">
                                            <span class="ph-fill ph-star text-yellow text-xs"></span>
                                            <strong class="service_rate text-button-sm">4.9</strong>
                                            <span class="service_rate_quantity caption1 text-secondary">(482)</span>
                                        </div>
                                    </div>
                                    <a href="services-detail1.html" class="service_title text-title pt-2 duration-300 hover:text-primary">I will draw vector line art illustration image</a>
                                    <div class="service_more_info flex items-center justify-between gap-1 mt-4 pt-4 border-t border-line">
                                        <a href="candidates-detail1.html" class="service_author flex items-center gap-2">
                                            <img src="../../assets/images/avatar/IMG-6.webp" alt="IMG-6" class="service_author_avatar w-8 h-8 rounded-full" />
                                            <span class="service_author_name -style-1">Courtney Henry</span>
                                        </a>
                                        <div class="service_price whitespace-nowrap">
                                            <span class="text-secondary">From </span>
                                            <span class="price text-title">$75</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item animate animate_top" style="--i: 7">
                            <div class="service_item overflow-hidden relative rounded-lg bg-white shadow-md duration-300 hover:shadow-xl">
                                <button class="add_wishlist_btn">
                                    <span class="ph ph-heart text-xl"></span>
                                    <span class="ph-fill ph-heart text-xl"></span>
                                </button>
                                <a href="services-detail1.html" class="service_thumb">
                                    <img src="../../assets/images/service/7.webp" alt="7" class="w-full" />
                                </a>
                                <div class="service_info py-5 px-4">
                                    <div class="flex items-center justify-between">
                                        <a href="services-default.html" class="tag caption2 bg-surface hover:bg-primary hover:text-white">UI/UX Design</a>
                                        <div class="rate flex items-center gap-1">
                                            <span class="ph-fill ph-star text-yellow text-xs"></span>
                                            <strong class="service_rate text-button-sm">4.9</strong>
                                            <span class="service_rate_quantity caption1 text-secondary">(482)</span>
                                        </div>
                                    </div>
                                    <a href="services-detail1.html" class="service_title text-title pt-2 duration-300 hover:text-primary">I will design wordpress website with elementor pro</a>
                                    <div class="service_more_info flex items-center justify-between gap-1 mt-4 pt-4 border-t border-line">
                                        <a href="candidates-detail1.html" class="service_author flex items-center gap-2">
                                            <img src="../../assets/images/avatar/IMG-7.webp" alt="IMG-7" class="service_author_avatar w-8 h-8 rounded-full" />
                                            <span class="service_author_name -style-1">Arlene McCoy</span>
                                        </a>
                                        <div class="service_price whitespace-nowrap">
                                            <span class="text-secondary">From </span>
                                            <span class="price text-title">$75</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item animate animate_top" style="--i: 8">
                            <div class="service_item overflow-hidden relative rounded-lg bg-white shadow-md duration-300 hover:shadow-xl">
                                <button class="add_wishlist_btn">
                                    <span class="ph ph-heart text-xl"></span>
                                    <span class="ph-fill ph-heart text-xl"></span>
                                </button>
                                <a href="services-detail1.html" class="service_thumb">
                                    <img src="../../assets/images/service/8.webp" alt="8" class="w-full" />
                                </a>
                                <div class="service_info py-5 px-4">
                                    <div class="flex items-center justify-between">
                                        <a href="services-default.html" class="tag caption2 bg-surface hover:bg-primary hover:text-white">Digital Marketing</a>
                                        <div class="rate flex items-center gap-1">
                                            <span class="ph-fill ph-star text-yellow text-xs"></span>
                                            <strong class="service_rate text-button-sm">4.9</strong>
                                            <span class="service_rate_quantity caption1 text-secondary">(482)</span>
                                        </div>
                                    </div>
                                    <a href="services-detail1.html" class="service_title text-title pt-2 duration-300 hover:text-primary">I will do figma UI UX design for websites & landing page</a>
                                    <div class="service_more_info flex items-center justify-between gap-1 mt-4 pt-4 border-t border-line">
                                        <a href="candidates-detail1.html" class="service_author flex items-center gap-2">
                                            <img src="../../assets/images/avatar/IMG-8.webp" alt="IMG-8" class="service_author_avatar w-8 h-8 rounded-full" />
                                            <span class="service_author_name -style-1">Robert Fox</span>
                                        </a>
                                        <div class="service_price whitespace-nowrap">
                                            <span class="text-secondary">From </span>
                                            <span class="price text-title">$75</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div id="services_02" class="tab_list" role="tabpanel" aria-labelledby="services_tab02" aria-hidden="true">
                    <ul class="list grid xl:grid-cols-4 sm:grid-cols-2 gap-7.5 md:mt-10 mt-7">
                        <li class="item animate animate_top" style="--i: 1">
                            <div class="service_item overflow-hidden relative rounded-lg bg-white shadow-md duration-300 hover:shadow-xl">
                                <button class="add_wishlist_btn">
                                    <span class="ph ph-heart text-xl"></span>
                                    <span class="ph-fill ph-heart text-xl"></span>
                                </button>
                                <a href="services-detail1.html" class="service_thumb">
                                    <img src="../../assets/images/service/2.webp" alt="2" class="w-full" />
                                </a>
                                <div class="service_info py-5 px-4">
                                    <div class="flex items-center justify-between">
                                        <a href="services-default.html" class="tag caption2 bg-surface hover:bg-primary hover:text-white">Development</a>
                                        <div class="rate flex items-center gap-1">
                                            <span class="ph-fill ph-star text-yellow text-xs"></span>
                                            <strong class="service_rate text-button-sm">4.9</strong>
                                            <span class="service_rate_quantity caption1 text-secondary">(482)</span>
                                        </div>
                                    </div>
                                    <a href="services-detail1.html" class="service_title text-title pt-2 duration-300 hover:text-primary">I will create stunning logo designs for your business</a>
                                    <div class="service_more_info flex items-center justify-between gap-1 mt-4 pt-4 border-t border-line">
                                        <a href="candidates-detail1.html" class="service_author flex items-center gap-2">
                                            <img src="../../assets/images/avatar/IMG-2.webp" alt="IMG-2" class="service_author_avatar w-8 h-8 rounded-full" />
                                            <span class="service_author_name -style-1">Cameron</span>
                                        </a>
                                        <div class="service_price whitespace-nowrap">
                                            <span class="text-secondary">From </span>
                                            <span class="price text-title">$75</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item animate animate_top" style="--i: 2">
                            <div class="service_item overflow-hidden relative rounded-lg bg-white shadow-md duration-300 hover:shadow-xl">
                                <button class="add_wishlist_btn">
                                    <span class="ph ph-heart text-xl"></span>
                                    <span class="ph-fill ph-heart text-xl"></span>
                                </button>
                                <a href="services-detail1.html" class="service_thumb">
                                    <img src="../../assets/images/service/3.webp" alt="3" class="w-full" />
                                </a>
                                <div class="service_info py-5 px-4">
                                    <div class="flex items-center justify-between">
                                        <a href="services-default.html" class="tag caption2 bg-surface hover:bg-primary hover:text-white">UI/UX Design</a>
                                        <div class="rate flex items-center gap-1">
                                            <span class="ph-fill ph-star text-yellow text-xs"></span>
                                            <strong class="service_rate text-button-sm">4.9</strong>
                                            <span class="service_rate_quantity caption1 text-secondary">(482)</span>
                                        </div>
                                    </div>
                                    <a href="services-detail1.html" class="service_title text-title pt-2 duration-300 hover:text-primary">I will design UI UX design for App in Figma</a>
                                    <div class="service_more_info flex items-center justify-between gap-1 mt-4 pt-4 border-t border-line">
                                        <a href="candidates-detail1.html" class="service_author flex items-center gap-2">
                                            <img src="../../assets/images/avatar/IMG-3.webp" alt="IMG-3" class="service_author_avatar w-8 h-8 rounded-full" />
                                            <span class="service_author_name -style-1">Theresa Webb</span>
                                        </a>
                                        <div class="service_price whitespace-nowrap">
                                            <span class="text-secondary">From </span>
                                            <span class="price text-title">$75</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item animate animate_top" style="--i: 3">
                            <div class="service_item overflow-hidden relative rounded-lg bg-white shadow-md duration-300 hover:shadow-xl">
                                <button class="add_wishlist_btn">
                                    <span class="ph ph-heart text-xl"></span>
                                    <span class="ph-fill ph-heart text-xl"></span>
                                </button>
                                <a href="services-detail1.html" class="service_thumb">
                                    <img src="../../assets/images/service/4.webp" alt="4" class="w-full" />
                                </a>
                                <div class="service_info py-5 px-4">
                                    <div class="flex items-center justify-between">
                                        <a href="services-default.html" class="tag caption2 bg-surface hover:bg-primary hover:text-white">Digital Marketing</a>
                                        <div class="rate flex items-center gap-1">
                                            <span class="ph-fill ph-star text-yellow text-xs"></span>
                                            <strong class="service_rate text-button-sm">4.9</strong>
                                            <span class="service_rate_quantity caption1 text-secondary">(482)</span>
                                        </div>
                                    </div>
                                    <a href="services-detail1.html" class="service_title text-title pt-2 duration-300 hover:text-primary">I will translate your documents with accuracy and precision</a>
                                    <div class="service_more_info flex items-center justify-between gap-1 mt-4 pt-4 border-t border-line">
                                        <a href="candidates-detail1.html" class="service_author flex items-center gap-2">
                                            <img src="../../assets/images/avatar/IMG-4.webp" alt="IMG-4" class="service_author_avatar w-8 h-8 rounded-full" />
                                            <span class="service_author_name -style-1">Marvin McKinney</span>
                                        </a>
                                        <div class="service_price whitespace-nowrap">
                                            <span class="text-secondary">From </span>
                                            <span class="price text-title">$75</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item animate animate_top" style="--i: 4">
                            <div class="service_item overflow-hidden relative rounded-lg bg-white shadow-md duration-300 hover:shadow-xl">
                                <button class="add_wishlist_btn">
                                    <span class="ph ph-heart text-xl"></span>
                                    <span class="ph-fill ph-heart text-xl"></span>
                                </button>
                                <a href="services-detail1.html" class="service_thumb">
                                    <img src="../../assets/images/service/5.webp" alt="5" class="w-full" />
                                </a>
                                <div class="service_info py-5 px-4">
                                    <div class="flex items-center justify-between">
                                        <a href="services-default.html" class="tag caption2 bg-surface hover:bg-primary hover:text-white">Development</a>
                                        <div class="rate flex items-center gap-1">
                                            <span class="ph-fill ph-star text-yellow text-xs"></span>
                                            <strong class="service_rate text-button-sm">4.9</strong>
                                            <span class="service_rate_quantity caption1 text-secondary">(482)</span>
                                        </div>
                                    </div>
                                    <a href="services-detail1.html" class="service_title text-title pt-2 duration-300 hover:text-primary">I will do background illustration and environment concept art</a>
                                    <div class="service_more_info flex items-center justify-between gap-1 mt-4 pt-4 border-t border-line">
                                        <a href="candidates-detail1.html" class="service_author flex items-center gap-2">
                                            <img src="../../assets/images/avatar/IMG-5.webp" alt="IMG-5" class="service_author_avatar w-8 h-8 rounded-full" />
                                            <span class="service_author_name -style-1">Kristin Watson</span>
                                        </a>
                                        <div class="service_price whitespace-nowrap">
                                            <span class="text-secondary">From </span>
                                            <span class="price text-title">$75</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div id="services_03" class="tab_list" role="tabpanel" aria-labelledby="services_tab03" aria-hidden="true">
                    <ul class="list grid xl:grid-cols-4 sm:grid-cols-2 gap-7.5 md:mt-10 mt-7">
                        <li class="item animate animate_top" style="--i: 1">
                            <div class="service_item overflow-hidden relative rounded-lg bg-white shadow-md duration-300 hover:shadow-xl">
                                <button class="add_wishlist_btn">
                                    <span class="ph ph-heart text-xl"></span>
                                    <span class="ph-fill ph-heart text-xl"></span>
                                </button>
                                <a href="services-detail1.html" class="service_thumb">
                                    <img src="../../assets/images/service/6.webp" alt="6" class="w-full" />
                                </a>
                                <div class="service_info py-5 px-4">
                                    <div class="flex items-center justify-between">
                                        <a href="services-default.html" class="tag caption2 bg-surface hover:bg-primary hover:text-white">UI/UX Design</a>
                                        <div class="rate flex items-center gap-1">
                                            <span class="ph-fill ph-star text-yellow text-xs"></span>
                                            <strong class="service_rate text-button-sm">4.9</strong>
                                            <span class="service_rate_quantity caption1 text-secondary">(482)</span>
                                        </div>
                                    </div>
                                    <a href="services-detail1.html" class="service_title text-title pt-2 duration-300 hover:text-primary">I will draw vector line art illustration image</a>
                                    <div class="service_more_info flex items-center justify-between gap-1 mt-4 pt-4 border-t border-line">
                                        <a href="candidates-detail1.html" class="service_author flex items-center gap-2">
                                            <img src="../../assets/images/avatar/IMG-6.webp" alt="IMG-6" class="service_author_avatar w-8 h-8 rounded-full" />
                                            <span class="service_author_name -style-1">Courtney Henry</span>
                                        </a>
                                        <div class="service_price whitespace-nowrap">
                                            <span class="text-secondary">From </span>
                                            <span class="price text-title">$75</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item animate animate_top" style="--i: 2">
                            <div class="service_item overflow-hidden relative rounded-lg bg-white shadow-md duration-300 hover:shadow-xl">
                                <button class="add_wishlist_btn">
                                    <span class="ph ph-heart text-xl"></span>
                                    <span class="ph-fill ph-heart text-xl"></span>
                                </button>
                                <a href="services-detail1.html" class="service_thumb">
                                    <img src="../../assets/images/service/7.webp" alt="7" class="w-full" />
                                </a>
                                <div class="service_info py-5 px-4">
                                    <div class="flex items-center justify-between">
                                        <a href="services-default.html" class="tag caption2 bg-surface hover:bg-primary hover:text-white">UI/UX Design</a>
                                        <div class="rate flex items-center gap-1">
                                            <span class="ph-fill ph-star text-yellow text-xs"></span>
                                            <strong class="service_rate text-button-sm">4.9</strong>
                                            <span class="service_rate_quantity caption1 text-secondary">(482)</span>
                                        </div>
                                    </div>
                                    <a href="services-detail1.html" class="service_title text-title pt-2 duration-300 hover:text-primary">I will design wordpress website with elementor pro</a>
                                    <div class="service_more_info flex items-center justify-between gap-1 mt-4 pt-4 border-t border-line">
                                        <a href="candidates-detail1.html" class="service_author flex items-center gap-2">
                                            <img src="../../assets/images/avatar/IMG-7.webp" alt="IMG-7" class="service_author_avatar w-8 h-8 rounded-full" />
                                            <span class="service_author_name -style-1">Arlene McCoy</span>
                                        </a>
                                        <div class="service_price whitespace-nowrap">
                                            <span class="text-secondary">From </span>
                                            <span class="price text-title">$75</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div id="services_04" class="tab_list" role="tabpanel" aria-labelledby="services_tab04" aria-hidden="true">
                    <ul class="list grid xl:grid-cols-4 sm:grid-cols-2 gap-7.5 md:mt-10 mt-7">
                        <li class="item animate animate_top" style="--i: 1">
                            <div class="service_item overflow-hidden relative rounded-lg bg-white shadow-md duration-300 hover:shadow-xl">
                                <button class="add_wishlist_btn">
                                    <span class="ph ph-heart text-xl"></span>
                                    <span class="ph-fill ph-heart text-xl"></span>
                                </button>
                                <a href="services-detail1.html" class="service_thumb">
                                    <img src="../../assets/images/service/2.webp" alt="2" class="w-full" />
                                </a>
                                <div class="service_info py-5 px-4">
                                    <div class="flex items-center justify-between">
                                        <a href="services-default.html" class="tag caption2 bg-surface hover:bg-primary hover:text-white">Development</a>
                                        <div class="rate flex items-center gap-1">
                                            <span class="ph-fill ph-star text-yellow text-xs"></span>
                                            <strong class="service_rate text-button-sm">4.9</strong>
                                            <span class="service_rate_quantity caption1 text-secondary">(482)</span>
                                        </div>
                                    </div>
                                    <a href="services-detail1.html" class="service_title text-title pt-2 duration-300 hover:text-primary">I will create stunning logo designs for your business</a>
                                    <div class="service_more_info flex items-center justify-between gap-1 mt-4 pt-4 border-t border-line">
                                        <a href="candidates-detail1.html" class="service_author flex items-center gap-2">
                                            <img src="../../assets/images/avatar/IMG-2.webp" alt="IMG-2" class="service_author_avatar w-8 h-8 rounded-full" />
                                            <span class="service_author_name -style-1">Cameron</span>
                                        </a>
                                        <div class="service_price whitespace-nowrap">
                                            <span class="text-secondary">From </span>
                                            <span class="price text-title">$75</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item animate animate_top" style="--i: 2">
                            <div class="service_item overflow-hidden relative rounded-lg bg-white shadow-md duration-300 hover:shadow-xl">
                                <button class="add_wishlist_btn">
                                    <span class="ph ph-heart text-xl"></span>
                                    <span class="ph-fill ph-heart text-xl"></span>
                                </button>
                                <a href="services-detail1.html" class="service_thumb">
                                    <img src="../../assets/images/service/3.webp" alt="3" class="w-full" />
                                </a>
                                <div class="service_info py-5 px-4">
                                    <div class="flex items-center justify-between">
                                        <a href="services-default.html" class="tag caption2 bg-surface hover:bg-primary hover:text-white">UI/UX Design</a>
                                        <div class="rate flex items-center gap-1">
                                            <span class="ph-fill ph-star text-yellow text-xs"></span>
                                            <strong class="service_rate text-button-sm">4.9</strong>
                                            <span class="service_rate_quantity caption1 text-secondary">(482)</span>
                                        </div>
                                    </div>
                                    <a href="services-detail1.html" class="service_title text-title pt-2 duration-300 hover:text-primary">I will design UI UX design for App in Figma</a>
                                    <div class="service_more_info flex items-center justify-between gap-1 mt-4 pt-4 border-t border-line">
                                        <a href="candidates-detail1.html" class="service_author flex items-center gap-2">
                                            <img src="../../assets/images/avatar/IMG-3.webp" alt="IMG-3" class="service_author_avatar w-8 h-8 rounded-full" />
                                            <span class="service_author_name -style-1">Theresa Webb</span>
                                        </a>
                                        <div class="service_price whitespace-nowrap">
                                            <span class="text-secondary">From </span>
                                            <span class="price text-title">$75</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div id="services_05" class="tab_list" role="tabpanel" aria-labelledby="services_tab05" aria-hidden="true">
                    <ul class="list grid xl:grid-cols-4 sm:grid-cols-2 gap-7.5 md:mt-10 mt-7">
                        <li class="item animate animate_top" style="--i: 1">
                            <div class="service_item overflow-hidden relative rounded-lg bg-white shadow-md duration-300 hover:shadow-xl">
                                <button class="add_wishlist_btn">
                                    <span class="ph ph-heart text-xl"></span>
                                    <span class="ph-fill ph-heart text-xl"></span>
                                </button>
                                <a href="services-detail1.html" class="service_thumb">
                                    <img src="../../assets/images/service/4.webp" alt="4" class="w-full" />
                                </a>
                                <div class="service_info py-5 px-4">
                                    <div class="flex items-center justify-between">
                                        <a href="services-default.html" class="tag caption2 bg-surface hover:bg-primary hover:text-white">Digital Marketing</a>
                                        <div class="rate flex items-center gap-1">
                                            <span class="ph-fill ph-star text-yellow text-xs"></span>
                                            <strong class="service_rate text-button-sm">4.9</strong>
                                            <span class="service_rate_quantity caption1 text-secondary">(482)</span>
                                        </div>
                                    </div>
                                    <a href="services-detail1.html" class="service_title text-title pt-2 duration-300 hover:text-primary">I will translate your documents with accuracy and precision</a>
                                    <div class="service_more_info flex items-center justify-between gap-1 mt-4 pt-4 border-t border-line">
                                        <a href="candidates-detail1.html" class="service_author flex items-center gap-2">
                                            <img src="../../assets/images/avatar/IMG-4.webp" alt="IMG-4" class="service_author_avatar w-8 h-8 rounded-full" />
                                            <span class="service_author_name -style-1">Marvin McKinney</span>
                                        </a>
                                        <div class="service_price whitespace-nowrap">
                                            <span class="text-secondary">From </span>
                                            <span class="price text-title">$75</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item animate animate_top" style="--i: 2">
                            <div class="service_item overflow-hidden relative rounded-lg bg-white shadow-md duration-300 hover:shadow-xl">
                                <button class="add_wishlist_btn">
                                    <span class="ph ph-heart text-xl"></span>
                                    <span class="ph-fill ph-heart text-xl"></span>
                                </button>
                                <a href="services-detail1.html" class="service_thumb">
                                    <img src="../../assets/images/service/5.webp" alt="5" class="w-full" />
                                </a>
                                <div class="service_info py-5 px-4">
                                    <div class="flex items-center justify-between">
                                        <a href="services-default.html" class="tag caption2 bg-surface hover:bg-primary hover:text-white">Development</a>
                                        <div class="rate flex items-center gap-1">
                                            <span class="ph-fill ph-star text-yellow text-xs"></span>
                                            <strong class="service_rate text-button-sm">4.9</strong>
                                            <span class="service_rate_quantity caption1 text-secondary">(482)</span>
                                        </div>
                                    </div>
                                    <a href="services-detail1.html" class="service_title text-title pt-2 duration-300 hover:text-primary">I will do background illustration and environment concept art</a>
                                    <div class="service_more_info flex items-center justify-between gap-1 mt-4 pt-4 border-t border-line">
                                        <a href="candidates-detail1.html" class="service_author flex items-center gap-2">
                                            <img src="../../assets/images/avatar/IMG-5.webp" alt="IMG-5" class="service_author_avatar w-8 h-8 rounded-full" />
                                            <span class="service_author_name -style-1">Kristin Watson</span>
                                        </a>
                                        <div class="service_price whitespace-nowrap">
                                            <span class="text-secondary">From </span>
                                            <span class="price text-title">$75</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>