<!-- Popular services -->
<section class="popular_services lg:py-20 sm:py-14 py-10">
            <div class="container">
                <h3 class="heading3 text-center animate animate_top" style="--i: 1">Popular services</h3>
                <p class="body2 text-secondary text-center mt-3 animate animate_top" style="--i: 2">Explore a wide range of services organized by category</p>
                <div class="list section-swiper-navigation relative md:mt-10 mt-7">
                    <button class="custom-button-prev -border lg:-left-6 left-2">
                        <span class="ph-bold ph-arrow-left text-xl"></span>
                    </button>
                    <div class="swiper swiper-popular_services">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="services-default.html" class="service_item block relative overflow-hidden h-full rounded-lg animate animate_top" style="--i: 1">
                                    <img src="../../assets/images/service/popular1.webp" alt="popular1" class="w-full h-full object-cover" />
                                    <strong class="heading5 service_name -style-1 absolute bottom-5 left-3 right-3 text-center text-white">AI Artists</strong>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="services-default.html" class="service_item block relative overflow-hidden h-full rounded-lg animate animate_top" style="--i: 2">
                                    <img src="../../assets/images/service/popular2.webp" alt="popular2" class="w-full h-full object-cover" />
                                    <strong class="heading5 service_name -style-1 absolute bottom-5 left-3 right-3 text-center text-white">Web Design</strong>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="services-default.html" class="service_item block relative overflow-hidden h-full rounded-lg animate animate_top" style="--i: 3">
                                    <img src="../../assets/images/service/popular3.webp" alt="popular3" class="w-full h-full object-cover" />
                                    <strong class="heading5 service_name -style-1 absolute bottom-5 left-3 right-3 text-center text-white">Social Media</strong>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="services-default.html" class="service_item block relative overflow-hidden h-full rounded-lg animate animate_top" style="--i: 4">
                                    <img src="../../assets/images/service/popular4.webp" alt="popular4" class="w-full h-full object-cover" />
                                    <strong class="heading5 service_name -style-1 absolute bottom-5 left-3 right-3 text-center text-white">App developer</strong>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="services-default.html" class="service_item block relative overflow-hidden h-full rounded-lg animate animate_top" style="--i: 5">
                                    <img src="../../assets/images/service/popular5.webp" alt="popular5" class="w-full h-full object-cover" />
                                    <strong class="heading5 service_name -style-1 absolute bottom-5 left-3 right-3 text-center text-white">Print Design</strong>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="services-default.html" class="service_item block relative overflow-hidden h-full rounded-lg animate animate_top" style="--i: 6">
                                    <img src="../../assets/images/service/popular6.webp" alt="popular6" class="w-full h-full object-cover" />
                                    <strong class="heading5 service_name -style-1 absolute bottom-5 left-3 right-3 text-center text-white">Social Media</strong>
                                </a>
                            </div>
                        </div>
                    </div>
                    <button class="custom-button-next -border lg:-right-6 right-2">
                        <span class="ph-bold ph-arrow-right text-xl"></span>
                    </button>
                </div>
            </div>
        </section>