<!-- Slider -->
<section class="slider">
            <div class="slider_inner relative lg:h-[860px] md:h-[700px] sm:h-[500px] h-[600px] bg-[#F1F6F2]">
                <div class="container relative h-full">
                    <div class="slider_bg flex items-center justify-end absolute top-0 left-0 w-full h-full sm:pt-20 pt-16">
                        <div class="slider_bg_inner absolute xl:right-0 md:w-[530px] sm:w-2/3 w-5/6 animate animate_left" style="--i: 3">
                            <img src="../../assets/images/slider/slider4_bg.png" alt="slider4_bg" class="w-full h-full object-cover max-lg:opacity-80" />
                            <div class="flag_top flex items-center gap-3 absolute md:top-32 top-[16%] xl:-left-28 lg:-left-10 -left-2 py-2 px-3 bg-white rounded-lg shadow-xl max-lg:hidden">
                                <div class="flex items-center">
                                    <div class="relative sm:w-[44px] w-10 sm:h-[44px] h-10 rounded-full overflow-hidden z-[3]">
                                        <img class="full h-full rounded-full" src="../../assets/images/avatar/avatar1.png" alt="avatar1" />
                                    </div>
                                    <div class="relative sm:w-[44px] w-10 sm:h-[44px] h-10 rounded-full overflow-hidden z-[2] -ml-5">
                                        <img class="full h-full rounded-full" src="../../assets/images/avatar/avatar2.png" alt="avatar2" />
                                    </div>
                                    <div class="relative sm:w-[44px] w-10 sm:h-[44px] h-10 rounded-full overflow-hidden z-[1] -ml-5">
                                        <img class="full h-full rounded-full" src="../../assets/images/avatar/avatar3.png" alt="avatar3" />
                                    </div>
                                    <div class="relative sm:w-[44px] w-10 sm:h-[44px] h-10 rounded-full overflow-hidden -ml-5">
                                        <img class="full h-full rounded-full" src="../../assets/images/avatar/avatar4.png" alt="avatar4" />
                                    </div>
                                </div>
                                <div class="flag_info">
                                    <h6 class="heading6">+986</h6>
                                    <span class="caption1">Candidates hired</span>
                                </div>
                            </div>
                            <div class="flag_bottom absolute sm:bottom-12 bottom-16 2xl:-right-24 right-0 p-4 bg-white rounded-xl shadow-xl max-lg:hidden">
                                <div class="flag_info pl-3 border-l-2 border-primary">
                                    <h6 class="heading6">+10k</h6>
                                    <span class="caption1">Job applications this month</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slider_content flex flex-col items-start justify-center sm:pt-20 pt-16 md:w-[704px] w-full h-full">
                        <h2 class="heading1 animate animate_top" style="--i: 1">Unlock the power of freelancers for your business needs</h2>
                        <p class="body2 mt-5 animate animate_top" style="--i: 2">Unlock the Power of Freelancers to Meet Your Business Needs and Propel Your Company Forward</p>
                        <div class="form_search w-full md:mt-10 mt-7 animate animate_top" style="--i: 3">
                            <form class="form_inner flex items-center justify-between max-sm:flex-wrap gap-6 gap-y-4 relative w-full p-3 rounded-lg bg-white">
                                <div class="form_input relative w-full">
                                    <span class="icon_search ph-bold ph-magnifying-glass absolute top-1/2 -translate-y-1/2 left-2 text-xl"></span>
                                    <input type="text" class="input_search w-full h-full pl-10" placeholder="Job title, key words or company" required />
                                </div>
                                <div class="select_block flex-shrink-0 sm:pr-16 pr-7 sm:pl-6 pl-3 sm:border-l border-line">
                                    <div class="select">
                                        <span class="selected" data-title="All Categories">All Categories</span>
                                        <ul class="list_option bg-white">
                                            <li data-item="Graphic & Design">Graphic & Design</li>
                                            <li data-item="Wrting">Wrting</li>
                                            <li data-item="Videos">Videos</li>
                                            <li data-item="Digital Marketing">Digital Marketing</li>
                                        </ul>
                                    </div>
                                    <span class="icon_down ph ph-caret-down sm:text-2xl text-xl right-0"></span>
                                </div>
                                <button type="submit" class="button-main max-sm:w-1/3 text-center flex-shrink-0">Search</button>
                            </form>
                        </div>
                        <div class="list_tags flex flex-wrap items-center gap-3 mt-5 animate animate_top" style="--i: 4">
                            <a href="jobs-default.html" class="tag -small text-button-sm text-black border border-line hover:bg-primary hover:text-white">Graphics</a>
                            <a href="jobs-default.html" class="tag -small text-button-sm text-black border border-line hover:bg-primary hover:text-white">Website</a>
                            <a href="jobs-default.html" class="tag -small text-button-sm text-black border border-line hover:bg-primary hover:text-white">Logo</a>
                            <a href="jobs-default.html" class="tag -small text-button-sm text-black border border-line hover:bg-primary hover:text-white">Developement</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>