<!-- Slider -->
<section class="slider -style-11">
            <div class="slider_inner overflow-hidden relative md:pt-20 pt-32 md:h-[860px] max-md:pb-16 bg-[#F9F0F0]">
                <div class="container relative h-full">
                    <div class="slider_bg">
                        <img src="../../assets/images/slider/slider11_bg.png" alt="slider11_bg" class="absolute -right-6 top-12 max-xl:hidden" />
                        <img src="../../assets/images/slider/like.png" alt="like" class="icon_heart absolute top-[18%] right-[35%] max-xl:hidden" />
                        <div class="flag_right flex flex-col items-center absolute top-[32%] right-3 max-xl:hidden p-4 bg-white rounded-xl shadow-xl">
                            <h5 class="heading5 pb-1">986+</h5>
                            <span>Candidates hired</span>
                            <div class="flex items-center mt-3">
                                <div class="relative sm:w-[44px] w-10 sm:h-[44px] h-10 rounded-full overflow-hidden bg-white p-0.5">
                                    <img class="full h-full rounded-full" src="../../assets/images/avatar/IMG-3.webp" alt="IMG-3" />
                                </div>
                                <div class="relative sm:w-[44px] w-10 sm:h-[44px] h-10 rounded-full overflow-hidden bg-white p-0.5 -ml-3">
                                    <img class="full h-full rounded-full" src="../../assets/images/avatar/IMG-4.webp" alt="IMG-4" />
                                </div>
                                <div class="relative sm:w-[44px] w-10 sm:h-[44px] h-10 rounded-full overflow-hidden bg-white p-0.5 -ml-3">
                                    <img class="full h-full rounded-full" src="../../assets/images/avatar/IMG-5.webp" alt="IMG-5" />
                                </div>
                                <div class="relative sm:w-[44px] w-10 sm:h-[44px] h-10 rounded-full overflow-hidden bg-white p-0.5 -ml-3">
                                    <span class="w-full h-full flex items-center justify-center bg-black text-white rounded-full caption2 font-extrabold">+12K</span>
                                </div>
                            </div>
                        </div>
                        <div class="flag_top flex items-center gap-3 absolute bottom-36 right-16 py-2 px-3 bg-white rounded-lg shadow-xl max-xl:hidden">
                            <div class="flex items-center">
                                <div class="relative sm:w-[44px] w-10 sm:h-[44px] h-10 rounded-full overflow-hidden z-[3]">
                                    <img class="full h-full rounded-full" src="../../assets/images/avatar/avatar1.png" alt="avatar1" />
                                </div>
                                <div class="relative sm:w-[44px] w-10 sm:h-[44px] h-10 rounded-full overflow-hidden z-[2] -ml-5">
                                    <img class="full h-full rounded-full" src="../../assets/images/avatar/avatar2.png" alt="avatar2" />
                                </div>
                                <div class="relative sm:w-[44px] w-10 sm:h-[44px] h-10 rounded-full overflow-hidden z-[1] -ml-5">
                                    <img class="full h-full rounded-full" src="../../assets/images/avatar/avatar3.png" alt="avatar3" />
                                </div>
                                <div class="relative sm:w-[44px] w-10 sm:h-[44px] h-10 rounded-full overflow-hidden -ml-5">
                                    <img class="full h-full rounded-full" src="../../assets/images/avatar/avatar4.png" alt="avatar4" />
                                </div>
                            </div>
                            <div class="flag_info">
                                <h6 class="heading6">+986</h6>
                                <span class="caption1">Candidates hired</span>
                            </div>
                        </div>
                        <div class="flag_bottom absolute bottom-[30%] right-[34%] p-4 bg-white rounded-xl shadow-xl max-xl:hidden">
                            <div class="flag_info pl-3 border-l-2 border-primary">
                                <h6 class="heading6">+10k</h6>
                                <span class="caption1">Job applications this month</span>
                            </div>
                        </div>
                    </div>
                    <div class="slider_content flex flex-col items-start justify-center w-full h-full animate animate_right" style="--i: 1">
                        <div class="slider_form xl:w-[600px] w-full md:p-10 p-7 rounded-xl bg-white">
                            <h3 class="heading3">Your Dream Job Awaits</h3>
                            <p class="body2 mt-3 text-secondary">Search for jobs that fit your unique lifestyle and career ambitions.</p>
                            <div class="form_search md:mt-10 mt-7">
                                <form class="form_inner relative w-full rounded-lg bg-white">
                                    <div class="form_input overflow-hidden relative w-full h-15 border border-line rounded-lg">
                                        <span class="icon_search ph-bold ph-magnifying-glass absolute top-1/2 -translate-y-1/2 left-5 text-xl"></span>
                                        <input type="text" class="input_search w-full h-full pl-14 pr-6" placeholder="Job title, key words or company" required />
                                    </div>
                                    <div class="select_block flex items-center flex-shrink-0 w-full h-15 mt-6 sm:pr-14 pr-7 sm:pl-6 pl-3 border border-line rounded-lg">
                                        <span class="ph ph-map-pin absolute top-1/2 -translate-y-1/2 left-5 text-xl"></span>
                                        <div class="select pl-8">
                                            <span class="selected" data-title="City, State or Zip">City, State or Zip</span>
                                            <ul class="list_option w-full bg-white">
                                                <li data-item="City, State or Zip">City, State or Zip</li>
                                                <li data-item="Las Vegas, USA">Las Vegas, USA</li>
                                                <li data-item="Cape Town, South Africa">Cape Town, South Africa</li>
                                                <li data-item="Sydney, Australia">Sydney, Australia</li>
                                                <li data-item="Tokyo, Japan">Tokyo, Japan</li>
                                            </ul>
                                        </div>
                                        <span class="icon_down ph ph-caret-down sm:text-2xl text-xl right-5"></span>
                                    </div>
                                    <div class="select_block flex items-center flex-shrink-0 w-full h-15 mt-6 sm:pr-14 pr-7 sm:pl-6 pl-3 border border-line rounded-lg">
                                        <div class="select">
                                            <span class="selected" data-title="All Categories">All Categories</span>
                                            <ul class="list_option w-full bg-white">
                                                <li data-item="All Categories">All Categories</li>
                                                <li data-item="Graphic & Design">Graphic & Design</li>
                                                <li data-item="Wrting">Wrting</li>
                                                <li data-item="Videos">Videos</li>
                                                <li data-item="Digital Marketing">Digital Marketing</li>
                                            </ul>
                                        </div>
                                        <span class="icon_down ph ph-caret-down sm:text-2xl text-xl right-5"></span>
                                    </div>
                                    <button type="submit" class="button-main max-sm:w-1/3 text-center flex-shrink-0 mt-6">Search</button>
                                </form>
                            </div>
                        </div>
                        <div class="slider_brand mt-8">
                            <strong class="text-title">Trusted by leading enterprise organizations and freelancers globally:</strong>
                            <div class="list flex flex-wrap items-center gap-10 mt-5">
                                <img src="../../assets/images/brand/1.png" alt="1" class="flex-shrink-0 h-8 w-auto" />
                                <img src="../../assets/images/brand/2.png" alt="2" class="flex-shrink-0 h-8 w-auto" />
                                <img src="../../assets/images/brand/3.png" alt="3" class="flex-shrink-0 h-8 w-auto" />
                                <img src="../../assets/images/brand/4.png" alt="4" class="flex-shrink-0 h-8 w-auto" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>