<!-- Slider -->
<section class="slider">
            <div class="slider_inner relative md:h-[780px] overflow-hidden sm:mt-20 mt-16">
                <div class="slider_bg absolute top-0 left-0 w-full h-full z-[-1]">
                    <img src="../../assets/images/slider/slider2.webp" alt="slider2" class="w-full h-full object-cover" />
                </div>
                <div class="container h-full">
                    <div class="slider_top relative">
                        <ul class="list_category flex items-center justify-between max-xl:gap-5 absolute top-4 left-0 w-full max-xl:whitespace-nowrap max-xl:max-w-max max-xl:overflow-x-auto">
                            <li class="category_item">
                                <a href="jobs-default.html" class="category_link text-button text-white line-before line-white">Graphic & Design</a>
                            </li>
                            <li class="category_item">
                                <a href="jobs-default.html" class="category_link text-button text-white line-before line-white">Digital Marketing</a>
                            </li>
                            <li class="category_item">
                                <a href="jobs-default.html" class="category_link text-button text-white line-before line-white">Programming & Tech</a>
                            </li>
                            <li class="category_item">
                                <a href="jobs-default.html" class="category_link text-button text-white line-before line-white">Wrting & Translation</a>
                            </li>
                            <li class="category_item">
                                <a href="jobs-default.html" class="category_link text-button text-white line-before line-white">Videos & Animation</a>
                            </li>
                            <li class="category_item">
                                <a href="jobs-default.html" class="category_link text-button text-white line-before line-white">Mussic & Audio</a>
                            </li>
                            <li class="category_item">
                                <a href="jobs-default.html" class="category_link text-button text-white line-before line-white">AI Services</a>
                            </li>
                            <li class="category_item">
                                <a href="jobs-default.html" class="category_link text-button text-white line-before line-white">Consulting</a>
                            </li>
                            <li class="category_item">
                                <a href="jobs-default.html" class="category_link text-button text-white line-before line-white">Photography</a>
                            </li>
                        </ul>
                    </div>
                    <div class="slider_content flex flex-col items-start justify-center md:w-[637px] w-full h-full max-md:py-28">
                        <h2 class="heading1 text-white animate animate_top" style="--i: 1">Discover your next freelance solution today</h2>
                        <p class="body2 text-white mt-5 animate animate_top" style="--i: 2">"Effortlessly Discover Your Next Freelance Solution Today and Enhance Your Workflow Efficiency"</p>
                        <div class="group_btn flex gap-5 md:mt-10 mt-7 animate animate_top" style="--i: 3">
                            <a href="jobs-default.html" class="button-main">Find Work</a>
                            <a href="candidates-default.html" class="button-main bg-white">Find Talent</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>