<!-- Slider -->
<section class="slider">
            <div class="slider_inner relative lg:h-[860px] md:h-[700px] max-md:py-16 overflow-hidden">
                <div class="slider_bg absolute top-0 left-0 w-full h-full z-[-1]">
                    <img src="../../assets/images/slider/slider10.webp" alt="slider10" class="w-full h-full object-cover" />
                </div>
                <div class="container flex items-center h-full">
                    <div class="slider_content sm:pt-20 pt-16 xl:w-[1000px] lg:w-[850px] w-full">
                        <h2 class="heading1 text-white animate animate_top" style="--i: 1">Find the job that fits your life</h2>
                        <p class="body2 text-white mt-5 animate animate_top" style="--i: 2">Discover opportunities that align with your lifestyle and career goals.</p>
                        <div class="form_search relative z-[1] w-full md:mt-10 mt-7 animate animate_top" style="--i: 3">
                            <form class="form_inner flex items-center justify-between max-sm:flex-wrap gap-6 gap-y-4 relative w-full p-3 rounded-lg bg-white">
                                <div class="form_input relative w-full">
                                    <span class="icon_search ph-bold ph-magnifying-glass absolute top-1/2 -translate-y-1/2 left-2 text-xl"></span>
                                    <input type="text" class="input_search w-full h-full pl-10" placeholder="Job title, key words or company" required />
                                </div>
                                <div class="select_block flex-shrink-0 max-sm:w-full sm:pr-16 pr-7 sm:pl-6 pl-3 sm:border-l border-line">
                                    <div class="select">
                                        <span class="selected" data-title="City, State or Zip">City, State or Zip</span>
                                        <ul class="list_option bg-white max-sm:w-full">
                                            <li data-item="Las Vegas, USA">Las Vegas, USA</li>
                                            <li data-item="Cape Town, South Africa">Cape Town, South Africa</li>
                                            <li data-item="Sydney, Australia">Sydney, Australia</li>
                                            <li data-item="Tokyo, Japan">Tokyo, Japan</li>
                                        </ul>
                                    </div>
                                    <span class="icon_down ph ph-caret-down sm:text-2xl text-xl sm:right-0 right-3"></span>
                                </div>
                                <div class="select_block flex-shrink-0 max-sm:w-full sm:pr-16 pr-7 sm:pl-6 pl-3 sm:border-l border-line">
                                    <div class="select">
                                        <span class="selected" data-title="All Categories">All Categories</span>
                                        <ul class="list_option bg-white max-sm:w-full">
                                            <li data-item="Graphic & Design">Graphic & Design</li>
                                            <li data-item="Wrting">Wrting</li>
                                            <li data-item="Videos">Videos</li>
                                            <li data-item="Digital Marketing">Digital Marketing</li>
                                        </ul>
                                    </div>
                                    <span class="icon_down ph ph-caret-down sm:text-2xl text-xl sm:right-0 right-3"></span>
                                </div>
                                <button type="submit" class="button-main max-sm:w-1/3 text-center flex-shrink-0">Search</button>
                            </form>
                        </div>
                        <ul class="list_counter flex items-center sm:gap-24 gap-14 mt-5 animate animate_top" style="--i: 4">
                            <li class="item flex items-center gap-3 text-white">
                                <h3 class="heading2">2k+</h3>
                                <div class="caption1">Projects<br />Completed</div>
                            </li>
                            <li class="item flex items-center gap-3 text-white">
                                <h3 class="heading2">1k+</h3>
                                <div class="caption1">Totoal<br />Freelancers</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>