<!-- Popular Categories -->
<section class="popular_categories lg:pt-20 sm:pt-14 pt-10">
            <div class="container">
                <div class="heading flex items-center justify-between flex-wrap gap-4">
                    <div class="left animate animate_top" style="--i: 1">
                        <h3 class="heading3">Popular Categories</h3>
                        <p class="body2 text-secondary mt-3">Explore a wide range of services organized by category</p>
                    </div>
                    <div class="section-swiper-navigation right flex items-center gap-4">
                        <button class="custom-button-prev -border -relative">
                            <span class="ph-bold ph-arrow-left text-xl"></span>
                        </button>
                        <button class="custom-button-next -border -relative">
                            <span class="ph-bold ph-arrow-right text-xl"></span>
                        </button>
                    </div>
                </div>
                <div class="list swiper overflow-hidden swiper-popular-categories -mx-4 px-4 md:pt-10 pt-7 lg:pb-20 sm:pb-14 pb-10">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="jobs-default.html" class="category_item flex flex-col items-start h-full sm:px-7.5 px-6 sm:py-6 py-5 rounded-lg bg-white shadow-md duration-300 hover:shadow-xl animate animate_top" style="--i: 1">
                                <div class="icon">
                                    <span class="icon-graphic text-4xl"></span>
                                </div>
                                <strong class="heading6 mt-3">Graphic &<br />Design</strong>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="jobs-default.html" class="category_item flex flex-col items-start h-full sm:px-7.5 px-6 sm:py-6 py-5 rounded-lg bg-white shadow-md duration-300 hover:shadow-xl animate animate_top" style="--i: 2">
                                <div class="icon">
                                    <span class="icon-marketing text-4xl"></span>
                                </div>
                                <strong class="heading6 mt-3">Digital <br />Marketing</strong>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="jobs-default.html" class="category_item flex flex-col items-start h-full sm:px-7.5 px-6 sm:py-6 py-5 rounded-lg bg-white shadow-md duration-300 hover:shadow-xl animate animate_top" style="--i: 3">
                                <div class="icon">
                                    <span class="icon-writing text-4xl"></span>
                                </div>
                                <strong class="heading6 mt-3">Wrting &<br />Translation</strong>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="jobs-default.html" class="category_item flex flex-col items-start h-full sm:px-7.5 px-6 sm:py-6 py-5 rounded-lg bg-white shadow-md duration-300 hover:shadow-xl animate animate_top" style="--i: 4">
                                <div class="icon">
                                    <span class="icon-video text-4xl"></span>
                                </div>
                                <strong class="heading6 mt-3">Videos &<br />Animation</strong>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="jobs-default.html" class="category_item flex flex-col items-start h-full sm:px-7.5 px-6 sm:py-6 py-5 rounded-lg bg-white shadow-md duration-300 hover:shadow-xl animate animate_top" style="--i: 5">
                                <div class="icon">
                                    <span class="icon-music text-4xl"></span>
                                </div>
                                <strong class="heading6 mt-3">Music <br />& Audio</strong>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="jobs-default.html" class="category_item flex flex-col items-start h-full sm:px-7.5 px-6 sm:py-6 py-5 rounded-lg bg-white shadow-md duration-300 hover:shadow-xl animate animate_top" style="--i: 6">
                                <div class="icon">
                                    <span class="icon-photograph text-4xl"></span>
                                </div>
                                <strong class="heading6 mt-3">Photography <br />& Studio</strong>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="jobs-default.html" class="category_item flex flex-col items-start h-full sm:px-7.5 px-6 sm:py-6 py-5 rounded-lg bg-white shadow-md duration-300 hover:shadow-xl animate animate_top" style="--i: 7">
                                <div class="icon">
                                    <span class="icon-animation text-4xl"></span>
                                </div>
                                <strong class="heading6 mt-3">Animation <br />& Motion</strong>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="jobs-default.html" class="category_item flex flex-col items-start h-full sm:px-7.5 px-6 sm:py-6 py-5 rounded-lg bg-white shadow-md duration-300 hover:shadow-xl animate animate_top" style="--i: 8">
                                <div class="icon">
                                    <span class="icon-data text-4xl"></span>
                                </div>
                                <strong class="heading6 mt-3">Data <br />Management</strong>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="jobs-default.html" class="category_item flex flex-col items-start h-full sm:px-7.5 px-6 sm:py-6 py-5 rounded-lg bg-white shadow-md duration-300 hover:shadow-xl animate animate_top" style="--i: 9">
                                <div class="icon">
                                    <span class="icon-business text-4xl"></span>
                                </div>
                                <strong class="heading6 mt-3">Business <br />& Banking</strong>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>