<!-- Testimonials -->
<section class="testimonials lg:py-20 sm:py-14 py-10 bg-surface">
            <div class="container">
                <h3 class="heading3 text-center animate animate_top" style="--i: 1">Testimonials</h3>
                <p class="body2 text-secondary text-center mt-3 animate animate_top" style="--i: 2">Discover exceptional experiences through testimonials from our satisfied customers.</p>
                <div class="list-testimonials -style-3">
                    <div class="testimonials_slide">
                        <div class="testimonials_item animate animate_top" style="--i: 1">
                            <div class="inner flex max-sm:flex-col items-center gap-5 p-8 rounded-lg bg-white duration-300 shadow-md">
                                <div class="testimonials_avatar flex-shrink-0 w-[120px] h-[120px] rounded-full overflow-hidden">
                                    <img src="../../assets/images/avatar/IMG-1.webp" alt="IMG-1" class="w-full h-full object-cover" />
                                </div>
                                <div class="testimonials_info w-full">
                                    <strong class="text-title">Choosing FreelanHub was the best decision we made for our business. Their expertise in SEO and digital marketing has significantly boosted our traffic.</strong>
                                    <div class="flex items-center justify-between mt-4">
                                        <div class="testimonials_user">
                                            <h6 class="testimonials_name heading6">Emily Johnson</h6>
                                            <span class="caption1 text-secondary">Head of Recruitment</span>
                                        </div>
                                        <span class="icon-slash text-5xl opacity-10 duration-300"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonials_slide">
                        <div class="testimonials_item animate animate_top" style="--i: 2">
                            <div class="inner flex max-sm:flex-col items-center gap-5 p-8 rounded-lg bg-white duration-300 shadow-md">
                                <div class="testimonials_avatar flex-shrink-0 w-[120px] h-[120px] rounded-full overflow-hidden">
                                    <img src="../../assets/images/avatar/IMG-2.webp" alt="IMG-2" class="w-full h-full object-cover" />
                                </div>
                                <div class="testimonials_info w-full">
                                    <strong class="text-title">I'm truly impressed by the results delivered by FreelanHub. Their team's professionalism and dedication shine through in every project in your eyes.</strong>
                                    <div class="flex items-center justify-between mt-4">
                                        <div class="testimonials_user">
                                            <h6 class="testimonials_name heading6">Benjamin Parker</h6>
                                            <span class="caption1 text-secondary">Head of Recruitment</span>
                                        </div>
                                        <span class="icon-slash text-5xl opacity-10 duration-300"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonials_slide">
                        <div class="testimonials_item animate animate_top" style="--i: 3">
                            <div class="inner flex max-sm:flex-col items-center gap-5 p-8 rounded-lg bg-white duration-300 shadow-md">
                                <div class="testimonials_avatar flex-shrink-0 w-[120px] h-[120px] rounded-full overflow-hidden">
                                    <img src="../../assets/images/avatar/IMG-3.webp" alt="IMG-3" class="w-full h-full object-cover" />
                                </div>
                                <div class="testimonials_info w-full">
                                    <strong class="text-title">I'm truly impressed by the results delivered by fivero. Their team's professionalism and dedication shine through in every our projects and conversions.</strong>
                                    <div class="flex items-center justify-between mt-4">
                                        <div class="testimonials_user">
                                            <h6 class="testimonials_name heading6">Olivia Williams</h6>
                                            <span class="caption1 text-secondary">Head of Recruitment</span>
                                        </div>
                                        <span class="icon-slash text-5xl opacity-10 duration-300"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonials_slide">
                        <div class="testimonials_item animate animate_top" style="--i: 4">
                            <div class="inner flex max-sm:flex-col items-center gap-5 p-8 rounded-lg bg-white duration-300 shadow-md">
                                <div class="testimonials_avatar flex-shrink-0 w-[120px] h-[120px] rounded-full overflow-hidden">
                                    <img src="../../assets/images/avatar/IMG-5.webp" alt="IMG-5" class="w-full h-full object-cover" />
                                </div>
                                <div class="testimonials_info w-full">
                                    <strong class="text-title">Working with fivero has been an absolute game-changer for our online presence. Their innovative strategies and creative approach have taken our brand!</strong>
                                    <div class="flex items-center justify-between mt-4">
                                        <div class="testimonials_user">
                                            <h6 class="testimonials_name heading6">Emily Johnson</h6>
                                            <span class="caption1 text-secondary">Head of Recruitment</span>
                                        </div>
                                        <span class="icon-slash text-5xl opacity-10 duration-300"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonials_slide">
                        <div class="testimonials_item animate animate_top" style="--i: 5">
                            <div class="inner flex max-sm:flex-col items-center gap-5 p-8 rounded-lg bg-white duration-300 shadow-md">
                                <div class="testimonials_avatar flex-shrink-0 w-[120px] h-[120px] rounded-full overflow-hidden">
                                    <img src="../../assets/images/avatar/IMG-6.webp" alt="IMG-6" class="w-full h-full object-cover" />
                                </div>
                                <div class="testimonials_info w-full">
                                    <strong class="text-title">I can't thank fivero enough for their exceptional service. From web design to social media management, they've exceeded our expectations every steps.</strong>
                                    <div class="flex items-center justify-between mt-4">
                                        <div class="testimonials_user">
                                            <h6 class="testimonials_name heading6">Liam Anderson</h6>
                                            <span class="caption1 text-secondary">Head of Recruitment</span>
                                        </div>
                                        <span class="icon-slash text-5xl opacity-10 duration-300"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>