<!-- Testimonials -->
<section class="testimonials lg:py-20 sm:py-14 py-10 bg-surface">
            <div class="container">
                <h3 class="heading3 text-center animate animate_top" style="--i: 1">Testimonials</h3>
                <p class="body2 text-secondary text-center mt-3 animate animate_top" style="--i: 2">Discover exceptional experiences through testimonials from our satisfied customers.</p>
                <div class="swiper -section swiper-list-testimonials style-3 md:pt-10 pt-7">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="testimonials_item h-full p-7.5 bg-white rounded-lg duration-300 shadow-md animate animate_top" style="--i: 1">
                                <span class="ph-fill ph-quotes text-4xl text-primary"></span>
                                <p class="text-title mt-3">Choosing FreelanHub was the best decision we made for our business. Their expertise in SEO and digital marketing has significantly boosted our traffic.</p>
                                <div class="testimonials_info flex items-center gap-5 mt-5">
                                    <div class="testimonials_avatar w-15 h-15 rounded-full overflow-hidden">
                                        <img src="../../assets/images/avatar/IMG-1.webp" alt="IMG-1" class="w-full h-full object-cover" />
                                    </div>
                                    <div class="testimonials_user">
                                        <h6 class="testimonials_name heading6">Liam Anderson</h6>
                                        <span class="caption1 text-secondary">Head of Recruitment</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testimonials_item h-full p-7.5 bg-white rounded-lg duration-300 shadow-md animate animate_top" style="--i: 2">
                                <span class="ph-fill ph-quotes text-4xl text-primary"></span>
                                <p class="text-title mt-3">I'm truly impressed by the results delivered by FreelanHub. Their team's professionalism and dedication shine through in every project in your eyes.</p>
                                <div class="testimonials_info flex items-center gap-5 mt-5">
                                    <div class="testimonials_avatar w-15 h-15 rounded-full overflow-hidden">
                                        <img src="../../assets/images/avatar/IMG-2.webp" alt="IMG-2" class="w-full h-full object-cover" />
                                    </div>
                                    <div class="testimonials_user">
                                        <h6 class="testimonials_name heading6">Emily Johnson</h6>
                                        <span class="caption1 text-secondary">Head of Recruitment</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testimonials_item h-full p-7.5 bg-white rounded-lg duration-300 shadow-md animate animate_top" style="--i: 3">
                                <span class="ph-fill ph-quotes text-4xl text-primary"></span>
                                <p class="text-title mt-3">I'm truly impressed by the results delivered by fivero. Their team's professionalism and dedication shine through in every project and conversions.</p>
                                <div class="testimonials_info flex items-center gap-5 mt-5">
                                    <div class="testimonials_avatar w-15 h-15 rounded-full overflow-hidden">
                                        <img src="../../assets/images/avatar/IMG-3.webp" alt="IMG-3" class="w-full h-full object-cover" />
                                    </div>
                                    <div class="testimonials_user">
                                        <h6 class="testimonials_name heading6">Alexander Peter</h6>
                                        <span class="caption1 text-secondary">Head of Recruitment</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testimonials_item h-full p-7.5 bg-white rounded-lg duration-300 shadow-md animate animate_top" style="--i: 4">
                                <span class="ph-fill ph-quotes text-4xl text-primary"></span>
                                <p class="text-title mt-3">Working with fivero has been an absolute game-changer for our online presence. Their innovative strategies and creative approach have taken our brand!</p>
                                <div class="testimonials_info flex items-center gap-5 mt-5">
                                    <div class="testimonials_avatar w-15 h-15 rounded-full overflow-hidden">
                                        <img src="../../assets/images/avatar/IMG-4.webp" alt="IMG-4" class="w-full h-full object-cover" />
                                    </div>
                                    <div class="testimonials_user">
                                        <h6 class="testimonials_name heading6">Emily Johnson</h6>
                                        <span class="caption1 text-secondary">Head of Recruitment</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </section>