{% extends "base/freelanhub_base.html" %}
{% load static i18n %}

{% block title %}{% trans "Bad Request" %} - Zumodra{% endblock %}

{% block content %}

<div class="error flex items-center justify-center w-full min-h-screen py-20">
    <div class="container flex max-xl:flex-col items-center justify-between gap-y-8">
        <img src="{% static 'assets/images/components/error.png' %}" alt="{% trans 'Error' %}" class="flex-shrink-0 xl:w-[55%] max-xl:max-h-[40vh] w-auto" />
        <div class="content w-fit">
            <h1 class="md:text-9xl text-7xl font-bold">400</h1>
            <h2 class="heading2 mt-6">{% trans "Bad Request" %}</h2>
            <p class="body1 text-secondary mt-3">
                {% trans "The request could not be understood by the server." %}<br class="max-sm:hidden" />
                {% trans "Please check your input and try again" %}
            </p>
            <a href="/" class="button-main mt-6">{% trans "Back To Homepage" %}</a>
        </div>
    </div>
</div>

{% endblock %}
