<!-- How it work -->
<section class="process lg:py-20 sm:py-14 py-10">
            <div class="container">
                <h3 class="heading3 text-center animate animate_top" style="--i: 1">How It Work On Employers</h3>
                <p class="body2 text-secondary text-center mt-3 animate animate_top" style="--i: 2">Recruitment made easy in 100 seconds</p>
                <ul class="list grid lg:grid-cols-4 sm:grid-cols-2 grid-cols-1 gap-7.5 md:mt-10 mt-7">
                    <li class="item animate animate_top" style="--i: 1">
                        <span class="icon-job text-4xl"></span>
                        <h6 class="heading6 mt-4">Post Your Job</h6>
                        <p class="mt-1">Create a job listing with details like requirements and budget.</p>
                    </li>
                    <li class="item animate animate_top" style="--i: 2">
                        <span class="icon-applicant text-4xl"></span>
                        <h6 class="heading6 mt-4">Review Applicants</h6>
                        <p class="mt-1">Receive and evaluate applications from freelancers.</p>
                    </li>
                    <li class="item animate animate_top" style="--i: 3">
                        <span class="icon-choose text-4xl"></span>
                        <h6 class="heading6 mt-4">Choose a Freelancer</h6>
                        <p class="mt-1">Conduct interviews or discussions to choose the best candidate.</p>
                    </li>
                    <li class="item animate animate_top" style="--i: 4">
                        <span class="icon-manage text-4xl"></span>
                        <h6 class="heading6 mt-4">Manage the Project</h6>
                        <p class="mt-1">Collaborate with the selected freelancer to complete the project.</p>
                    </li>
                </ul>
            </div>
        </section>