<!-- Jobs by Location -->
<section class="location lg:py-20 sm:py-14 py-10 bg-surface">
            <div class="container">
                <div class="heading flex items-end justify-between flex-wrap gap-4">
                    <div class="left animate animate_top" style="--i: 1">
                        <h3 class="heading3">Jobs by Location</h3>
                        <p class="body2 text-secondary mt-3">Find your favourite jobs and get the benefits of yourself</p>
                    </div>
                    <a href="services-default.html" class="text-button pb-0.5 border-b-2 border-primary duration-300 hover:text-primary animate animate_top" style="--i: 2">View all Location</a>
                </div>
                <div class="list_location md:mt-10 mt-7">
                    <div class="list section-swiper-navigation relative md:mt-10 mt-7">
                        <button class="custom-button-prev -border lg:-left-6 left-2">
                            <span class="ph-bold ph-arrow-left text-xl"></span>
                        </button>
                        <div class="swiper swiper-location">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="jobs-default.html" class="location_item block animate animate_top" style="--i: 1">
                                        <div class="location_thumb overflow-hidden relative rounded-lg">
                                            <img src="../../assets/images/location/london.webp" alt="location/london" class="location_img w-full" />
                                            <span class="tag absolute top-5 left-5 text-subtitle -rounded-sm bg-white">421 Jobs</span>
                                        </div>
                                        <div class="location_info flex flex-col items-center gap-1 mt-5">
                                            <h5 class="location_city heading5 capitalize duration-300 hover:text-primary">London</h5>
                                            <span class="location_country caption1 text-secondary">United Kingdom</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="jobs-default.html" class="location_item block animate animate_top" style="--i: 2">
                                        <div class="location_thumb overflow-hidden relative rounded-lg">
                                            <img src="../../assets/images/location/toronto.webp" alt="location/toronto" class="location_img w-full" />
                                            <span class="tag absolute top-5 left-5 text-subtitle -rounded-sm bg-white">198 Jobs</span>
                                        </div>
                                        <div class="location_info flex flex-col items-center gap-1 mt-5">
                                            <h5 class="location_city heading5 capitalize duration-300 hover:text-primary">toronto</h5>
                                            <span class="location_country caption1 text-secondary">Canada</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="jobs-default.html" class="location_item block animate animate_top" style="--i: 3">
                                        <div class="location_thumb overflow-hidden relative rounded-lg">
                                            <img src="../../assets/images/location/tokyo.webp" alt="location/tokyo" class="location_img w-full" />
                                            <span class="tag absolute top-5 left-5 text-subtitle -rounded-sm bg-white">265 Jobs</span>
                                        </div>
                                        <div class="location_info flex flex-col items-center gap-1 mt-5">
                                            <h5 class="location_city heading5 capitalize duration-300 hover:text-primary">tokyo</h5>
                                            <span class="location_country caption1 text-secondary">Japanse</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="jobs-default.html" class="location_item block animate animate_top" style="--i: 4">
                                        <div class="location_thumb overflow-hidden relative rounded-lg">
                                            <img src="../../assets/images/location/paris.webp" alt="location/paris" class="location_img w-full" />
                                            <span class="tag absolute top-5 left-5 text-subtitle -rounded-sm bg-white">132 Jobs</span>
                                        </div>
                                        <div class="location_info flex flex-col items-center gap-1 mt-5">
                                            <h5 class="location_city heading5 capitalize duration-300 hover:text-primary">paris</h5>
                                            <span class="location_country caption1 text-secondary">France</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="jobs-default.html" class="location_item block animate animate_top" style="--i: 5">
                                        <div class="location_thumb overflow-hidden relative rounded-lg">
                                            <img src="../../assets/images/location/sydney.webp" alt="location/sydney" class="location_img w-full" />
                                            <span class="tag absolute top-5 left-5 text-subtitle -rounded-sm bg-white">321 Jobs</span>
                                        </div>
                                        <div class="location_info flex flex-col items-center gap-1 mt-5">
                                            <h5 class="location_city heading5 capitalize duration-300 hover:text-primary">sydney</h5>
                                            <span class="location_country caption1 text-secondary">Australia</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="jobs-default.html" class="location_item block animate animate_top" style="--i: 6">
                                        <div class="location_thumb overflow-hidden relative rounded-lg">
                                            <img src="../../assets/images/location/manama.webp" alt="location/manama" class="location_img w-full" />
                                            <span class="tag absolute top-5 left-5 text-subtitle -rounded-sm bg-white">321 Jobs</span>
                                        </div>
                                        <div class="location_info flex flex-col items-center gap-1 mt-5">
                                            <h5 class="location_city heading5 capitalize duration-300 hover:text-primary">manama</h5>
                                            <span class="location_country caption1 text-secondary">Bahrain</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="jobs-default.html" class="location_item block animate animate_top" style="--i: 7">
                                        <div class="location_thumb overflow-hidden relative rounded-lg">
                                            <img src="../../assets/images/location/berlin.webp" alt="location/berlin" class="location_img w-full" />
                                            <span class="tag absolute top-5 left-5 text-subtitle -rounded-sm bg-white">321 Jobs</span>
                                        </div>
                                        <div class="location_info flex flex-col items-center gap-1 mt-5">
                                            <h5 class="location_city heading5 capitalize duration-300 hover:text-primary">berlin</h5>
                                            <span class="location_country caption1 text-secondary">Germany</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <button class="custom-button-next -border lg:-right-6 right-2">
                            <span class="ph-bold ph-arrow-right text-xl"></span>
                        </button>
                    </div>
                </div>
            </div>
        </section>