<!-- Jobs by Location -->
<section class="location lg:pt-20 sm:pt-14 pt-10">
            <div class="container">
                <h3 class="heading3 text-center animate animate_top" style="--i: 1">Jobs by Location</h3>
                <p class="body2 text-secondary text-center mt-3 animate animate_top" style="--i: 2">Find your favourite jobs and get the benefits of yourself</p>
            </div>
            <div class="slick-list-location md:mt-10 mt-7">
                <div class="location_slide">
                    <a href="jobs-default.html" class="location_item -shadow block overflow-hidden relative aspect-square animate animate_top" style="--i: 1">
                        <img src="../../assets/images/location/berlin.webp" alt="berlin" class="location_img w-full h-full object-cover" />
                        <div class="location_info absolute bottom-5 left-5 z-[1] text-white">
                            <h5 class="location_name heading5">berlin</h5>
                            <p class="location_desc mt-1">Open Jobs (3)</p>
                        </div>
                    </a>
                </div>
                <div class="location_slide">
                    <a href="jobs-default.html" class="location_item -shadow block overflow-hidden relative aspect-square animate animate_top" style="--i: 2">
                        <img src="../../assets/images/location/gyeongju.webp" alt="gyeongju" class="location_img w-full h-full object-cover" />
                        <div class="location_info absolute bottom-5 left-5 z-[1] text-white">
                            <h5 class="location_name heading5">gyeongju</h5>
                            <p class="location_desc mt-1">Open Jobs (3)</p>
                        </div>
                    </a>
                </div>
                <div class="location_slide">
                    <a href="jobs-default.html" class="location_item -shadow block overflow-hidden relative aspect-square animate animate_top" style="--i: 3">
                        <img src="../../assets/images/location/london.webp" alt="london" class="location_img w-full h-full object-cover" />
                        <div class="location_info absolute bottom-5 left-5 z-[1] text-white">
                            <h5 class="location_name heading5">london</h5>
                            <p class="location_desc mt-1">Open Jobs (3)</p>
                        </div>
                    </a>
                </div>
                <div class="location_slide">
                    <a href="jobs-default.html" class="location_item -shadow block overflow-hidden relative aspect-square animate animate_top" style="--i: 4">
                        <img src="../../assets/images/location/manama.webp" alt="manama" class="location_img w-full h-full object-cover" />
                        <div class="location_info absolute bottom-5 left-5 z-[1] text-white">
                            <h5 class="location_name heading5">manama</h5>
                            <p class="location_desc mt-1">Open Jobs (3)</p>
                        </div>
                    </a>
                </div>
                <div class="location_slide">
                    <a href="jobs-default.html" class="location_item -shadow block overflow-hidden relative aspect-square animate animate_top" style="--i: 5">
                        <img src="../../assets/images/location/paris.webp" alt="paris" class="location_img w-full h-full object-cover" />
                        <div class="location_info absolute bottom-5 left-5 z-[1] text-white">
                            <h5 class="location_name heading5">paris</h5>
                            <p class="location_desc mt-1">Open Jobs (3)</p>
                        </div>
                    </a>
                </div>
                <div class="location_slide">
                    <a href="jobs-default.html" class="location_item -shadow block overflow-hidden relative aspect-square animate animate_top" style="--i: 6">
                        <img src="../../assets/images/location/sydney.webp" alt="sydney" class="location_img w-full h-full object-cover" />
                        <div class="location_info absolute bottom-5 left-5 z-[1] text-white">
                            <h5 class="location_name heading5">sydney</h5>
                            <p class="location_desc mt-1">Open Jobs (3)</p>
                        </div>
                    </a>
                </div>
                <div class="location_slide">
                    <a href="jobs-default.html" class="location_item -shadow block overflow-hidden relative aspect-square animate animate_top" style="--i: 7">
                        <img src="../../assets/images/location/tokyo.webp" alt="tokyo" class="location_img w-full h-full object-cover" />
                        <div class="location_info absolute bottom-5 left-5 z-[1] text-white">
                            <h5 class="location_name heading5">tokyo</h5>
                            <p class="location_desc mt-1">Open Jobs (3)</p>
                        </div>
                    </a>
                </div>
                <div class="location_slide">
                    <a href="jobs-default.html" class="location_item -shadow block overflow-hidden relative aspect-square animate animate_top" style="--i: 8">
                        <img src="../../assets/images/location/toronto.webp" alt="toronto" class="location_img w-full h-full object-cover" />
                        <div class="location_info absolute bottom-5 left-5 z-[1] text-white">
                            <h5 class="location_name heading5">toronto</h5>
                            <p class="location_desc mt-1">Open Jobs (3)</p>
                        </div>
                    </a>
                </div>
            </div>
        </section>