<!-- Video -->
<section class="video md:h-[420px] h-[360px] overflow-hidden">
            <div class="container flex flex-col justify-center h-full relative z-[1]">
                <button class="btn_open_popup icon_play flex items-center justify-center w-15 h-15 bg-black text-white rounded-full duration-300 hover:bg-primary animate animate_top" style="--i: 1" data-type="modal_video">
                    <span class="ph-fill ph-play text-2xl"></span>
                </button>
                <h3 class="heading3 text-white lg:mt-8 mt-5 animate animate_top" style="--i: 2">Embark on your journey to <br />success with FreelanHub!</h3>
                <p class="body2 text-white mt-3 animate animate_top" style="--i: 3">Explore opportunities and unleash your potential today.</p>
            </div>
        </section>