<!-- Banner -->
<section class="banner">
            <div class="container">
                <div class="banner_inner relative lg:p-20 sm:p-14 p-10 rounded-lg bg-[#F7F2EE] animate animateZoomOutUp" style="--i: 5">
                    <div class="benefit_bg absolute top-0 right-0 bottom-0 max-sm:hidden">
                        <img src="../../assets/images/components/banner8.png" alt="banner8" class="h-full w-auto object-cover" />
                    </div>
                    <div class="banner_content xl:w-[544px] md:w-8/12 w-full">
                        <h3 class="heading3 animate animate_top" style="--i: 1">Download our freelancer & employer app now!</h3>
                        <p class="body2 text-secondary mt-2 animate animate_top" style="--i: 2">Seamlessly connect to endless job opportunities and talent pool, anywhere, anytime.</p>
                        <div class="list_download flex flex-wrap items-center gap-4 lg:mt-8 mt-5 animate animate_top" style="--i: 3">
                            <a href="https://play.google.com/" target="_blank">
                                <img src="../../assets/images/download/gg_play.png" alt="gg_play" class="bg-feature rounded" />
                            </a>
                            <a href="https://www.apple.com/app-store/" target="_blank">
                                <img src="../../assets/images/download/app_store.png" alt="app_store" class="bg-feature rounded" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>