<!-- Banner -->
<section class="banner">
            <div class="container">
                <div class="banner_inner relative sm:px-16 px-8 py-16 overflow-hidden rounded-xl animate animateZoomOutUp" style="--i: 5">
                    <div class="banner_bg absolute top-0 left-0 w-full h-full z-[-1]">
                        <img src="../../assets/images/components/banner1.webp" alt="banner1" class="w-full h-full object-cover" />
                    </div>
                    <div class="banner_content">
                        <h4 class="heading4 text-white animate animate_top" style="--i: 1">Embrace Independence <br class="max-sm:hidden" />Start Your Freelance Journey Now</h4>
                        <p class="desc mt-2 text-white animate animate_top" style="--i: 2">Connect with your Desginer in minutes</p>
                        <div class="md:mt-7 mt-5 animate animate_top" style="--i: 3">
                            <a href="become-seller.html" class="button-main bg-white">Become A Seller</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>