<!-- Banner -->
<section class="banner relative lg:h-[418px] sm:h-[340px] overflow-hidden">
            <div class="banner_bg absolute top-0 left-0 w-full h-full z-[-1]">
                <img src="../../assets/images/slider/slider1.webp" alt="slider/slider1" class="w-full h-full object-cover" />
            </div>
            <div class="container h-full flex items-center">
                <div class="banner_content relative z-[1] sm:w-[460px] max-sm:py-16">
                    <h3 class="heading3 text-white animate animate_top" style="--i: 1">Start your freelance now</h3>
                    <p class="desc text-white mt-3 animate animate_top" style="--i: 2">Take control of your career path and explore a world where your talents are valued.</p>
                    <a href="become-seller.html" class="button-main bg-white mt-4 capitalize animate animate_top" style="--i: 3">Working with Us</a>
                </div>
            </div>
        </section>