{% extends 'base_dashboard.html' %}
{% load static %}

{% block dashboard_content %}
            <div class="dashboard_applied scrollbar_custom w-full bg-surface">
                <div class="container h-fit lg:pt-15 lg:pb-30 max-lg:py-12 max-sm:py-8">
                    <button class="btn_open_popup btn_menu_dashboard flex items-center gap-2 lg:hidden" data-type="menu_dashboard">
                        <span class="ph ph-squares-four text-xl"></span>
                        <strong class="text-button">Menu</strong>
                    </button>
                    <h4 class="heading4 max-lg:mt-3">Active Work</h4>
                    <div class="applied_block mt-7.5 rounded-lg bg-white">
                        <div class="list overflow-x-auto w-full py-5 px-6 rounded-xl">
                            <table class="w-full max-[1400px]:w-[1200px] max-md:w-[1000px]">
                                <thead class="border-b border-line">
                                    <tr>
                                        <th scope="col" class="px-5 py-4 text-left text-sm font-bold uppercase text-secondary whitespace-nowrap">Title</th>
                                        <th scope="col" class="px-5 py-4 text-left text-sm font-bold uppercase text-secondary whitespace-nowrap">Type</th>
                                        <th scope="col" class="px-5 py-4 text-left text-sm font-bold uppercase text-secondary whitespace-nowrap">Pricing</th>
                                        <th scope="col" class="px-5 py-4 text-left text-sm font-bold uppercase text-secondary whitespace-nowrap">Due in</th>
                                        <th scope="col" class="px-5 py-4 text-left text-sm font-bold uppercase text-secondary whitespace-nowrap">Status</th>
                                        <th scope="col" class="px-5 py-4 text-right text-sm font-bold uppercase text-secondary whitespace-nowrap">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="item duration-300 hover:bg-background">
                                        <th scope="row" class="p-5 text-left">
                                            <div class="info">
                                                <a href="jobs-detail1.html" class="title heading6 duration-300 hover:underline">Full Stack Developer</a>
                                                <div class="flex flex-wrap items-center gap-4 mt-2">
                                                    <a href="employers-detail1.html" class="employers flex items-center gap-2 text-secondary duration-300 hover:text-primary">
                                                        <img src="./assets/images/company/1.png" alt="company/1" class="flex-shrink-0 w-5 h-5" />
                                                        <span class="employers_name font-normal">PrimeEdge Solutions</span>
                                                    </a>
                                                    <div class="line flex-shrink-0 w-px h-4 bg-line"></div>
                                                    <div class="address flex items-center gap-2 text-secondary">
                                                        <span class="ph ph-map-pin text-xl"></span>
                                                        <span class="employers_address font-normal">Las Vegas, USA</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </th>
                                        <td class="p-5 whitespace-nowrap">Job</td>
                                        <td class="p-5">$410</td>
                                        <td class="p-5 whitespace-nowrap">Mar 29, 2024</td>
                                        <td class="p-5">
                                            <span class="tag bg-opacity-10 bg-features text-features text-button">Doing</span>
                                        </td>
                                        <td class="p-5">
                                            <div class="flex justify-end gap-2">
                                                <button class="btn_action btn_open_popup btn_view_job flex items-center justify-center relative w-10 h-10 rounded border border-line duration-300 hover:bg-primary hover:text-white" data-type="modal_view_job">
                                                    <span class="ph ph-eye text-xl"></span>
                                                    <span class="flag absolute -top-10 left-1/2 py-0.5 px-1.5 rounded border border-line bg-white caption1 capitalize text-black whitespace-nowrap">View Job</span>
                                                </button>
                                                <button class="btn_action btn_open_popup btn_chat flex items-center justify-center relative w-10 h-10 rounded border border-line duration-300 hover:bg-primary hover:text-white" data-type="modal_chat">
                                                    <span class="ph ph-chat text-xl"></span>
                                                    <span class="flag absolute -top-10 left-1/2 py-0.5 px-1.5 rounded border border-line bg-white caption1 capitalize text-black whitespace-nowrap">Send Message</span>
                                                </button>
                                                <button class="btn_action btn_open_popup btn_apply flex items-center justify-center relative w-10 h-10 rounded border border-line duration-300 hover:bg-primary hover:text-white" data-type="modal_apply">
                                                    <span class="ph ph-file-arrow-up text-xl"></span>
                                                    <span class="flag absolute -top-10 left-1/2 py-0.5 px-1.5 rounded border border-line bg-white caption1 capitalize text-black whitespace-nowrap">Submit Work</span>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="item duration-300 hover:bg-background">
                                        <th scope="row" class="p-5 text-left">
                                            <div class="info">
                                                <a href="jobs-detail1.html" class="title heading6 duration-300 hover:underline">Social Media Marketing</a>
                                                <div class="flex flex-wrap items-center gap-4 mt-2">
                                                    <a href="employers-detail1.html" class="employers flex items-center gap-2 text-secondary duration-300 hover:text-primary">
                                                        <img src="./assets/images/company/4.png" alt="company/4" class="flex-shrink-0 w-5 h-5" />
                                                        <span class="employers_name font-normal">Apex Innovations</span>
                                                    </a>
                                                    <div class="line flex-shrink-0 w-px h-4 bg-line"></div>
                                                    <div class="address flex items-center gap-2 text-secondary">
                                                        <span class="ph ph-map-pin text-xl"></span>
                                                        <span class="employers_address font-normal">Las Vegas, USA</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </th>
                                        <td class="p-5 whitespace-nowrap">Job</td>
                                        <td class="p-5">$266</td>
                                        <td class="p-5 whitespace-nowrap">Mar 29, 2024</td>
                                        <td class="p-5">
                                            <span class="tag bg-opacity-10 bg-yellow text-yellow text-button">Ended</span>
                                        </td>
                                        <td class="p-5">
                                            <div class="flex justify-end gap-2">
                                                <button class="btn_action btn_open_popup btn_view_job flex items-center justify-center relative w-10 h-10 rounded border border-line duration-300 hover:bg-primary hover:text-white" data-type="modal_view_job">
                                                    <span class="ph ph-eye text-xl"></span>
                                                    <span class="flag absolute -top-10 left-1/2 py-0.5 px-1.5 rounded border border-line bg-white caption1 capitalize text-black whitespace-nowrap">View Job</span>
                                                </button>
                                                <button class="btn_action btn_open_popup btn_chat flex items-center justify-center relative w-10 h-10 rounded border border-line duration-300 hover:bg-primary hover:text-white" data-type="modal_chat">
                                                    <span class="ph ph-chat text-xl"></span>
                                                    <span class="flag absolute -top-10 left-1/2 py-0.5 px-1.5 rounded border border-line bg-white caption1 capitalize text-black whitespace-nowrap">Send Message</span>
                                                </button>
                                                <button class="btn_action btn_open_popup btn_apply flex items-center justify-center relative w-10 h-10 rounded border border-line duration-300 hover:bg-primary hover:text-white" data-type="modal_apply">
                                                    <span class="ph ph-file-arrow-up text-xl"></span>
                                                    <span class="flag absolute -top-10 left-1/2 py-0.5 px-1.5 rounded border border-line bg-white caption1 capitalize text-black whitespace-nowrap">Submit Work</span>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="item duration-300 hover:bg-background">
                                        <th scope="row" class="p-5 text-left">
                                            <div class="info">
                                                <a href="project-detail1.html" class="title heading6 duration-300 hover:underline">Need a UX designer to design a website on figma</a>
                                                <div class="flex flex-wrap items-center gap-4 mt-2">
                                                    <a href="employers-detail1.html" class="employers flex items-center gap-2 text-secondary duration-300 hover:text-primary">
                                                        <img src="./assets/images/company/3.png" alt="company/3" class="flex-shrink-0 w-5 h-5" />
                                                        <span class="employers_name font-normal">GlobalTech Partners</span>
                                                    </a>
                                                    <div class="line flex-shrink-0 w-px h-4 bg-line"></div>
                                                    <div class="address flex items-center gap-2 text-secondary">
                                                        <span class="ph ph-map-pin text-xl"></span>
                                                        <span class="employers_address font-normal">Las Vegas, USA</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </th>
                                        <td class="p-5 whitespace-nowrap">Project</td>
                                        <td class="p-5">$470</td>
                                        <td class="p-5 whitespace-nowrap">Mar 29, 2024</td>
                                        <td class="p-5">
                                            <span class="tag bg-opacity-10 bg-success text-success text-button">Approved</span>
                                        </td>
                                        <td class="p-5">
                                            <div class="flex justify-end gap-2">
                                                <button class="btn_action btn_open_popup btn_view_project flex items-center justify-center relative w-10 h-10 rounded border border-line duration-300 hover:bg-primary hover:text-white" data-type="modal_view_project">
                                                    <span class="ph ph-eye text-xl"></span>
                                                    <span class="flag absolute -top-10 left-1/2 py-0.5 px-1.5 rounded border border-line bg-white caption1 capitalize text-black whitespace-nowrap">View project</span>
                                                </button>
                                                <button class="btn_action btn_open_popup btn_chat flex items-center justify-center relative w-10 h-10 rounded border border-line duration-300 hover:bg-primary hover:text-white" data-type="modal_chat">
                                                    <span class="ph ph-chat text-xl"></span>
                                                    <span class="flag absolute -top-10 left-1/2 py-0.5 px-1.5 rounded border border-line bg-white caption1 capitalize text-black whitespace-nowrap">Send Message</span>
                                                </button>
                                                <button class="btn_action btn_open_popup btn_apply flex items-center justify-center relative w-10 h-10 rounded border border-line duration-300 hover:bg-primary hover:text-white" data-type="modal_apply">
                                                    <span class="ph ph-file-arrow-up text-xl"></span>
                                                    <span class="flag absolute -top-10 left-1/2 py-0.5 px-1.5 rounded border border-line bg-white caption1 capitalize text-black whitespace-nowrap">Submit Work</span>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="item duration-300 hover:bg-background">
                                        <th scope="row" class="p-5 text-left">
                                            <div class="info">
                                                <a href="project-detail1.html" class="title heading6 duration-300 hover:underline">Figma and photoshop expert needed for fulltime/part time long term contract</a>
                                                <div class="flex flex-wrap items-center gap-4 mt-2">
                                                    <a href="employers-detail1.html" class="employers flex items-center gap-2 text-secondary duration-300 hover:text-primary">
                                                        <img src="./assets/images/company/6.png" alt="company/6" class="flex-shrink-0 w-5 h-5" />
                                                        <span class="employers_name font-normal">Apex Innovations</span>
                                                    </a>
                                                    <div class="line flex-shrink-0 w-px h-4 bg-line"></div>
                                                    <div class="address flex items-center gap-2 text-secondary">
                                                        <span class="ph ph-map-pin text-xl"></span>
                                                        <span class="employers_address font-normal">Las Vegas, USA</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </th>
                                        <td class="p-5 whitespace-nowrap">Project</td>
                                        <td class="p-5">$470</td>
                                        <td class="p-5 whitespace-nowrap">Mar 29, 2024</td>
                                        <td class="p-5">
                                            <span class="tag bg-opacity-10 bg-success text-success text-button">Approved</span>
                                        </td>
                                        <td class="p-5">
                                            <div class="flex justify-end gap-2">
                                                <button class="btn_action btn_open_popup btn_view_project flex items-center justify-center relative w-10 h-10 rounded border border-line duration-300 hover:bg-primary hover:text-white" data-type="modal_view_project">
                                                    <span class="ph ph-eye text-xl"></span>
                                                    <span class="flag absolute -top-10 left-1/2 py-0.5 px-1.5 rounded border border-line bg-white caption1 capitalize text-black whitespace-nowrap">View project</span>
                                                </button>
                                                <button class="btn_action btn_open_popup btn_chat flex items-center justify-center relative w-10 h-10 rounded border border-line duration-300 hover:bg-primary hover:text-white" data-type="modal_chat">
                                                    <span class="ph ph-chat text-xl"></span>
                                                    <span class="flag absolute -top-10 left-1/2 py-0.5 px-1.5 rounded border border-line bg-white caption1 capitalize text-black whitespace-nowrap">Send Message</span>
                                                </button>
                                                <button class="btn_action btn_open_popup btn_apply flex items-center justify-center relative w-10 h-10 rounded border border-line duration-300 hover:bg-primary hover:text-white" data-type="modal_apply">
                                                    <span class="ph ph-file-arrow-up text-xl"></span>
                                                    <span class="flag absolute -top-10 left-1/2 py-0.5 px-1.5 rounded border border-line bg-white caption1 capitalize text-black whitespace-nowrap">Submit Work</span>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="flex flex-wrap items-center justify-between gap-4 p-6 border-t border-line">
                            <ul class="list_pagination menu_tab flex items-center justify-center gap-2 w-full md:mt-10 mt-7" role="tablist">
                                <li role="presentation">
                                    <a href="#" class="tab_btn -fill flex items-center justify-center w-10 h-10 rounded border border-line text-title duration-300 hover:border-black active" role="tab" aria-selected="true">1</a>
                                </li>
                                <li role="presentation">
                                    <a href="#" class="tab_btn -fill flex items-center justify-center w-10 h-10 rounded border border-line text-title duration-300 hover:border-black" role="tab" aria-selected="false">2</a>
                                </li>
                                <li role="presentation">
                                    <a href="#" class="tab_btn -fill flex items-center justify-center w-10 h-10 rounded border border-line text-title duration-300 hover:border-black" role="tab" aria-selected="false">3</a>
                                </li>
                                <li role="presentation">
                                    <a href="#" class="tab_btn -fill flex items-center justify-center w-10 h-10 rounded border border-line text-title duration-300 hover:border-black" role="tab" aria-selected="false">></a>
                                </li>
                            </ul>
                            <p class="text-secondary whitespace-nowrap">Showing <span class="start">1</span> to <span class="end">4</span> of <span class="total">16</span> entries</p>
                        </div>
                    </div>
                </div>
                <div class="lg:fixed bottom-0 left-0 z-[1] lg:pl-[280px] flex items-center justify-center w-full h-15 bg-white duration-300 shadow-md">
                    <span class="copyright caption1 text-secondary">©2024 FreelanHub. All Rights Reserved</span>
                </div>
            </div>
        </div>
{% endblock %}

{% block modal_content %}
    {% include 'dashboard/includes/modals/_modal_view_job_active_work.html' %}
    {% include 'dashboard/includes/modals/_modal_view_project_active_work.html' %}
    {% include 'dashboard/includes/modals/_modal_chat_active_work.html' %}
    {% include 'dashboard/includes/modals/_modal_apply_active_work.html' %}
{% endblock %}
