<!-- Benefit -->
<section class="benefit relative bg-[#F7F2EE]">
            <div class="benefit_bg lg:absolute top-0 left-0 lg:w-1/2 h-full">
                <img src="../../assets/images/components/benefit12.webp" alt="benefit12" class="w-full h-full object-cover" />
            </div>
            <div class="container flex justify-end">
                <div class="benefit_content lg:w-1/2 w-full lg:pl-15 max-lg:px-6 max-sm:px-0 lg:py-16 py-10">
                    <h3 class="heading3 animate animate_top" style="--i: 1">Discover a faster, easier, and more efficient hiring experience</h3>
                    <p class="body2 mt-3 text-secondary animate animate_top" style="--i: 2">Our platform offers streamlined processes, access to top talent, and data-driven insights to optimize your hiring strategy.</p>
                    <ul class="list_benefit flex flex-col gap-4 lg:mt-7 mt-5">
                        <li class="benefit_item flex items-center gap-3 animate animate_top" style="--i: 3">
                            <span class="ph-fill ph-check-circle flex-shrink-0 text-xl text-primary"></span>
                            <p class="body2 desc">Simplify your hiring process with intuitive features and automation tools.</p>
                        </li>
                        <li class="benefit_item flex items-center gap-3 animate animate_top" style="--i: 4">
                            <span class="ph-fill ph-check-circle flex-shrink-0 text-xl text-primary"></span>
                            <p class="body2 desc">Connect with a wide range of qualified candidates who fit your hiring criteria.</p>
                        </li>
                        <li class="benefit_item flex items-center gap-3 animate animate_top" style="--i: 5">
                            <span class="ph-fill ph-check-circle flex-shrink-0 text-xl text-primary"></span>
                            <p class="body2 desc">Utilize data-driven insights to make informed decisions and improve your hiring outcomes.</p>
                        </li>
                    </ul>
                    <a href="candidates-default.html" class="button-main lg:mt-7 mt-5 animate animate_top" style="--i: 6">Browse Candidates</a>
                </div>
            </div>
        </section>