{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="FreelanHub - Job Board & Freelance Marketplace" />
        <title>{% block head_title %}{% endblock head_title %}</title>
        <link rel="shortcut icon" href="{% static 'assets/images/fav.png' %}" type="image/x-icon" />
        <link rel="stylesheet" href="{% static '/assets/css/swiper-bundle.min.css' %}" />
        <link rel="stylesheet" href="{% static '/assets/css/slick.css' %}" />
        <link rel="stylesheet" href="{% static '/assets/css/style.css' %}" />
        <link rel="stylesheet" href="{% static '/dist/output-tailwind.css' %}" />
        <link rel="stylesheet" href="{% static '/dist/output-scss.css' %}" />
        <link rel="stylesheet" href="{% static '/assets/css/language.css' %}">
        <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@mdi/font@7.4.47/css/materialdesignicons.min.css"
        />
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        {% block extra_head %} {% endblock extra_head %}
    </head>

    <body class="flex flex-col min-h-screen">
        <!-- Header -->
        {% block header %}
        {% endblock header %}

        <main class="flex-grow">
        <!-- Content -->
        {% block content %} {% endblock content %}

        <!-- Scroll to top -->
        <button class="scroll-to-top-btn"><span class="ph-bold ph-caret-up"></span></button>
        </main>
        <!-- Footer -->
        {% include 'footer.html' %}

        {% block js %} {% endblock js %}

        <script src="{% static '/assets/js/jquery.min.js' %}"></script>
        <script src="{% static '/assets/js/phosphor-icons.js' %}"></script>
        <script src="{% static '/assets/js/slick.min.js' %}"></script>
        <script src="{% static '/assets/js/swiper-bundle.min.js' %}"></script>
        <script src="{% static '/assets/js/main.js' %}"></script>
    </body>
</html>
