{% load i18n %}
<!-- Hiring Context Badge Component -->
{% if hiring_context %}
<span class="hiring-context-badge inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium
             {% if hiring_context == 'organizational' %}bg-blue-100 text-blue-800 dark:bg-blue-900 dark:text-blue-200{% else %}bg-green-100 text-green-800 dark:bg-green-900 dark:text-green-200{% endif %}"
      title="{% if hiring_context == 'organizational' %}{% trans 'Hired on behalf of organization' %}{% else %}{% trans 'Personal service request' %}{% endif %}">
    {% if hiring_context == 'organizational' %}
        <svg class="w-3.5 h-3.5 mr-1" fill="currentColor" viewBox="0 0 20 20">
            <path fill-rule="evenodd" d="M4 4a2 2 0 012-2h8a2 2 0 012 2v12a1 1 0 110 2h-3a1 1 0 01-1-1v-2a1 1 0 00-1-1H9a1 1 0 00-1 1v2a1 1 0 01-1 1H4a1 1 0 110-2V4zm3 1h2v2H7V5zm2 4H7v2h2V9zm2-4h2v2h-2V5zm2 4h-2v2h2V9z" clip-rule="evenodd"/>
        </svg>
        {% trans "Organizational" %}
    {% else %}
        <svg class="w-3.5 h-3.5 mr-1" fill="currentColor" viewBox="0 0 20 20">
            <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"/>
        </svg>
        {% trans "Personal" %}
    {% endif %}
</span>
{% endif %}
