<!-- Expert Freelancers -->
<section class="expert_freelancers lg:pt-20 sm:pt-14 pt-10 bg-surface">
            <div class="container md:pb-6">
                <div class="heading flex items-end justify-between flex-wrap gap-4">
                    <div class="left animate animate_top" style="--i: 1">
                        <h3 class="heading3">Expert Freelancers</h3>
                        <p class="body2 text-secondary mt-3">Discover Our Featured Services Designed to Elevate Your Experience</p>
                    </div>
                    <a href="candidates-default.html" class="text-button pb-0.5 border-b-2 border-primary duration-300 hover:text-primary animate animate_top" style="--i: 2">All Freelancers</a>
                </div>
                <div class="list section-swiper-navigation relative md:mt-10 mt-7">
                    <button class="custom-button-prev3 -border lg:-left-6 left-2">
                        <span class="ph-bold ph-arrow-left text-xl"></span>
                    </button>
                    <div class="swiper -section overflow-unset swiper-expert_freelancers">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="candidates_item relative p-6 rounded-lg bg-white duration-300 shadow-md animate animate_top" style="--i: 1">
                                    <div class="candidates_innner">
                                        <a href="candidates-detail1.html" class="flex flex-col items-center justify-center">
                                            <img src="../../assets/images/avatar/IMG-13.webp" alt="IMG-13" class="w-20 h-20 rounded-full" />
                                            <strong class="candidates_name -style-1 text-title mt-3 duration-300 hover:text-primary">Devon Lane</strong>
                                            <div class="flex items-center gap-1 mt-1">
                                                <span class="ph ph-map-pin text-xl text-secondary"></span>
                                                <span class="candidates_address -style-1 caption1 text-secondary">Las Vegas, USA</span>
                                            </div>
                                            <div class="flex items-center gap-1 mt-1">
                                                <span class="ph-fill ph-star text-yellow"></span>
                                                <strong class="candidates_rate text-sm font-semibold">4.9</strong>
                                                <span class="candidates_rate_quantity caption1 text-secondary">(482 review)</span>
                                            </div>
                                        </a>
                                        <div class="list_tag flex items-center justify-center gap-2.5 flex-wrap sm:py-5 py-3 border-b border-line">
                                            <a href="candidates-default.html" class="candidates_tag tag bg-surface caption1 hover:text-white hover:bg-primary">Full-Time</a>
                                            <a href="candidates-default.html" class="candidates_tag tag bg-surface caption1 hover:text-white hover:bg-primary">Figma</a>
                                            <a href="candidates-default.html" class="candidates_tag tag bg-surface caption1 hover:text-white hover:bg-primary">UX/UI</a>
                                        </div>
                                        <div class="candidates_more_info flex flex-wrap items-center justify-between gap-2 mt-3">
                                            <span class="candidates_projects text-secondary">372 Projects</span>
                                            <div class="candidates_price">
                                                <span class="price text-title">$170</span>
                                                <span class="text-secondary">/fixed-price</span>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="candidates-detail1.html" class="candidates_apply_btn button-main text-center -border w-full mt-3">View profile</a>
                                    <button class="add_wishlist_btn -border">
                                        <span class="ph ph-heart text-xl"></span>
                                        <span class="ph-fill ph-heart text-xl"></span>
                                    </button>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="candidates_item relative p-6 rounded-lg bg-white duration-300 shadow-md animate animate_top" style="--i: 2">
                                    <div class="candidates_innner">
                                        <a href="candidates-detail1.html" class="flex flex-col items-center justify-center">
                                            <img src="../../assets/images/avatar/IMG-12.webp" alt="IMG-12" class="w-20 h-20 rounded-full" />
                                            <strong class="candidates_name -style-1 text-title mt-3 duration-300 hover:text-primary">Guy Hawkins</strong>
                                            <div class="flex items-center gap-1 mt-1">
                                                <span class="ph ph-map-pin text-xl text-secondary"></span>
                                                <span class="candidates_address -style-1 caption1 text-secondary">Las Vegas, USA</span>
                                            </div>
                                            <div class="flex items-center gap-1 mt-1">
                                                <span class="ph-fill ph-star text-yellow"></span>
                                                <strong class="candidates_rate text-sm font-semibold">4.9</strong>
                                                <span class="candidates_rate_quantity caption1 text-secondary">(482 review)</span>
                                            </div>
                                        </a>
                                        <div class="list_tag flex items-center justify-center gap-2.5 flex-wrap sm:py-5 py-3 border-b border-line">
                                            <a href="candidates-default.html" class="candidates_tag tag bg-surface caption1 hover:text-white hover:bg-primary">Full-Time</a>
                                            <a href="candidates-default.html" class="candidates_tag tag bg-surface caption1 hover:text-white hover:bg-primary">Figma</a>
                                            <a href="candidates-default.html" class="candidates_tag tag bg-surface caption1 hover:text-white hover:bg-primary">UX/UI</a>
                                        </div>
                                        <div class="candidates_more_info flex flex-wrap items-center justify-between gap-2 mt-3">
                                            <span class="candidates_projects text-secondary">372 Projects</span>
                                            <div class="candidates_price">
                                                <span class="price text-title">$170</span>
                                                <span class="text-secondary">/fixed-price</span>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="candidates-detail1.html" class="candidates_apply_btn button-main text-center -border w-full mt-3">View profile</a>
                                    <button class="add_wishlist_btn -border">
                                        <span class="ph ph-heart text-xl"></span>
                                        <span class="ph-fill ph-heart text-xl"></span>
                                    </button>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="candidates_item relative p-6 rounded-lg bg-white duration-300 shadow-md animate animate_top" style="--i: 3">
                                    <div class="candidates_innner">
                                        <a href="candidates-detail1.html" class="flex flex-col items-center justify-center">
                                            <img src="../../assets/images/avatar/IMG-11.webp" alt="IMG-11" class="w-20 h-20 rounded-full" />
                                            <strong class="candidates_name -style-1 text-title mt-3 duration-300 hover:text-primary">Kristin Watson</strong>
                                            <div class="flex items-center gap-1 mt-1">
                                                <span class="ph ph-map-pin text-xl text-secondary"></span>
                                                <span class="candidates_address -style-1 caption1 text-secondary">Las Vegas, USA</span>
                                            </div>
                                            <div class="flex items-center gap-1 mt-1">
                                                <span class="ph-fill ph-star text-yellow"></span>
                                                <strong class="candidates_rate text-sm font-semibold">4.9</strong>
                                                <span class="candidates_rate_quantity caption1 text-secondary">(482 review)</span>
                                            </div>
                                        </a>
                                        <div class="list_tag flex items-center justify-center gap-2.5 flex-wrap sm:py-5 py-3 border-b border-line">
                                            <a href="candidates-default.html" class="candidates_tag tag bg-surface caption1 hover:text-white hover:bg-primary">Full-Time</a>
                                            <a href="candidates-default.html" class="candidates_tag tag bg-surface caption1 hover:text-white hover:bg-primary">Figma</a>
                                            <a href="candidates-default.html" class="candidates_tag tag bg-surface caption1 hover:text-white hover:bg-primary">UX/UI</a>
                                        </div>
                                        <div class="candidates_more_info flex flex-wrap items-center justify-between gap-2 mt-3">
                                            <span class="candidates_projects text-secondary">372 Projects</span>
                                            <div class="candidates_price">
                                                <span class="price text-title">$170</span>
                                                <span class="text-secondary">/fixed-price</span>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="candidates-detail1.html" class="candidates_apply_btn button-main text-center -border w-full mt-3">View profile</a>
                                    <button class="add_wishlist_btn -border">
                                        <span class="ph ph-heart text-xl"></span>
                                        <span class="ph-fill ph-heart text-xl"></span>
                                    </button>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="candidates_item relative p-6 rounded-lg bg-white duration-300 shadow-md animate animate_top" style="--i: 4">
                                    <div class="candidates_innner">
                                        <a href="candidates-detail1.html" class="flex flex-col items-center justify-center">
                                            <img src="../../assets/images/avatar/IMG-9.webp" alt="IMG-9" class="w-20 h-20 rounded-full" />
                                            <strong class="candidates_name -style-1 text-title mt-3 duration-300 hover:text-primary">Robert Fox</strong>
                                            <div class="flex items-center gap-1 mt-1">
                                                <span class="ph ph-map-pin text-xl text-secondary"></span>
                                                <span class="candidates_address -style-1 caption1 text-secondary">Las Vegas, USA</span>
                                            </div>
                                            <div class="flex items-center gap-1 mt-1">
                                                <span class="ph-fill ph-star text-yellow"></span>
                                                <strong class="candidates_rate text-sm font-semibold">4.9</strong>
                                                <span class="candidates_rate_quantity caption1 text-secondary">(482 review)</span>
                                            </div>
                                        </a>
                                        <div class="list_tag flex items-center justify-center gap-2.5 flex-wrap sm:py-5 py-3 border-b border-line">
                                            <a href="candidates-default.html" class="candidates_tag tag bg-surface caption1 hover:text-white hover:bg-primary">Full-Time</a>
                                            <a href="candidates-default.html" class="candidates_tag tag bg-surface caption1 hover:text-white hover:bg-primary">Figma</a>
                                            <a href="candidates-default.html" class="candidates_tag tag bg-surface caption1 hover:text-white hover:bg-primary">UX/UI</a>
                                        </div>
                                        <div class="candidates_more_info flex flex-wrap items-center justify-between gap-2 mt-3">
                                            <span class="candidates_projects text-secondary">372 Projects</span>
                                            <div class="candidates_price">
                                                <span class="price text-title">$170</span>
                                                <span class="text-secondary">/fixed-price</span>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="candidates-detail1.html" class="candidates_apply_btn button-main text-center -border w-full mt-3">View profile</a>
                                    <button class="add_wishlist_btn -border">
                                        <span class="ph ph-heart text-xl"></span>
                                        <span class="ph-fill ph-heart text-xl"></span>
                                    </button>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="candidates_item relative p-6 rounded-lg bg-white duration-300 shadow-md animate animate_top" style="--i: 5">
                                    <div class="candidates_innner">
                                        <a href="candidates-detail1.html" class="flex flex-col items-center justify-center">
                                            <img src="../../assets/images/avatar/IMG-8.webp" alt="IMG-8" class="w-20 h-20 rounded-full" />
                                            <strong class="candidates_name -style-1 text-title mt-3 duration-300 hover:text-primary">Robert Fox</strong>
                                            <div class="flex items-center gap-1 mt-1">
                                                <span class="ph ph-map-pin text-xl text-secondary"></span>
                                                <span class="candidates_address -style-1 caption1 text-secondary">Las Vegas, USA</span>
                                            </div>
                                            <div class="flex items-center gap-1 mt-1">
                                                <span class="ph-fill ph-star text-yellow"></span>
                                                <strong class="candidates_rate text-sm font-semibold">4.9</strong>
                                                <span class="candidates_rate_quantity caption1 text-secondary">(482 review)</span>
                                            </div>
                                        </a>
                                        <div class="list_tag flex items-center justify-center gap-2.5 flex-wrap sm:py-5 py-3 border-b border-line">
                                            <a href="candidates-default.html" class="candidates_tag tag bg-surface caption1 hover:text-white hover:bg-primary">Full-Time</a>
                                            <a href="candidates-default.html" class="candidates_tag tag bg-surface caption1 hover:text-white hover:bg-primary">Figma</a>
                                            <a href="candidates-default.html" class="candidates_tag tag bg-surface caption1 hover:text-white hover:bg-primary">UX/UI</a>
                                        </div>
                                        <div class="candidates_more_info flex flex-wrap items-center justify-between gap-2 mt-3">
                                            <span class="candidates_projects text-secondary">372 Projects</span>
                                            <div class="candidates_price">
                                                <span class="price text-title">$170</span>
                                                <span class="text-secondary">/fixed-price</span>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="candidates-detail1.html" class="candidates_apply_btn button-main text-center -border w-full mt-3">View profile</a>
                                    <button class="add_wishlist_btn -border">
                                        <span class="ph ph-heart text-xl"></span>
                                        <span class="ph-fill ph-heart text-xl"></span>
                                    </button>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="candidates_item relative p-6 rounded-lg bg-white duration-300 shadow-md animate animate_top" style="--i: 6">
                                    <div class="candidates_innner">
                                        <a href="candidates-detail1.html" class="flex flex-col items-center justify-center">
                                            <img src="../../assets/images/avatar/IMG-7.webp" alt="IMG-7" class="w-20 h-20 rounded-full" />
                                            <strong class="candidates_name -style-1 text-title mt-3 duration-300 hover:text-primary">Devon Lane</strong>
                                            <div class="flex items-center gap-1 mt-1">
                                                <span class="ph ph-map-pin text-xl text-secondary"></span>
                                                <span class="candidates_address -style-1 caption1 text-secondary">Las Vegas, USA</span>
                                            </div>
                                            <div class="flex items-center gap-1 mt-1">
                                                <span class="ph-fill ph-star text-yellow"></span>
                                                <strong class="candidates_rate text-sm font-semibold">4.9</strong>
                                                <span class="candidates_rate_quantity caption1 text-secondary">(482 review)</span>
                                            </div>
                                        </a>
                                        <div class="list_tag flex items-center justify-center gap-2.5 flex-wrap sm:py-5 py-3 border-b border-line">
                                            <a href="candidates-default.html" class="candidates_tag tag bg-surface caption1 hover:text-white hover:bg-primary">Full-Time</a>
                                            <a href="candidates-default.html" class="candidates_tag tag bg-surface caption1 hover:text-white hover:bg-primary">Figma</a>
                                            <a href="candidates-default.html" class="candidates_tag tag bg-surface caption1 hover:text-white hover:bg-primary">UX/UI</a>
                                        </div>
                                        <div class="candidates_more_info flex flex-wrap items-center justify-between gap-2 mt-3">
                                            <span class="candidates_projects text-secondary">372 Projects</span>
                                            <div class="candidates_price">
                                                <span class="price text-title">$170</span>
                                                <span class="text-secondary">/fixed-price</span>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="candidates-detail1.html" class="candidates_apply_btn button-main text-center -border w-full mt-3">View profile</a>
                                    <button class="add_wishlist_btn -border">
                                        <span class="ph ph-heart text-xl"></span>
                                        <span class="ph-fill ph-heart text-xl"></span>
                                    </button>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="candidates_item relative p-6 rounded-lg bg-white duration-300 shadow-md animate animate_top" style="--i: 7">
                                    <div class="candidates_innner">
                                        <a href="candidates-detail1.html" class="flex flex-col items-center justify-center">
                                            <img src="../../assets/images/avatar/IMG-6.webp" alt="IMG-6" class="w-20 h-20 rounded-full" />
                                            <strong class="candidates_name -style-1 text-title mt-3 duration-300 hover:text-primary">Guy Hawkins</strong>
                                            <div class="flex items-center gap-1 mt-1">
                                                <span class="ph ph-map-pin text-xl text-secondary"></span>
                                                <span class="candidates_address -style-1 caption1 text-secondary">Las Vegas, USA</span>
                                            </div>
                                            <div class="flex items-center gap-1 mt-1">
                                                <span class="ph-fill ph-star text-yellow"></span>
                                                <strong class="candidates_rate text-sm font-semibold">4.9</strong>
                                                <span class="candidates_rate_quantity caption1 text-secondary">(482 review)</span>
                                            </div>
                                        </a>
                                        <div class="list_tag flex items-center justify-center gap-2.5 flex-wrap sm:py-5 py-3 border-b border-line">
                                            <a href="candidates-default.html" class="candidates_tag tag bg-surface caption1 hover:text-white hover:bg-primary">Full-Time</a>
                                            <a href="candidates-default.html" class="candidates_tag tag bg-surface caption1 hover:text-white hover:bg-primary">Figma</a>
                                            <a href="candidates-default.html" class="candidates_tag tag bg-surface caption1 hover:text-white hover:bg-primary">UX/UI</a>
                                        </div>
                                        <div class="candidates_more_info flex flex-wrap items-center justify-between gap-2 mt-3">
                                            <span class="candidates_projects text-secondary">372 Projects</span>
                                            <div class="candidates_price">
                                                <span class="price text-title">$170</span>
                                                <span class="text-secondary">/fixed-price</span>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="candidates-detail1.html" class="candidates_apply_btn button-main text-center -border w-full mt-3">View profile</a>
                                    <button class="add_wishlist_btn -border">
                                        <span class="ph ph-heart text-xl"></span>
                                        <span class="ph-fill ph-heart text-xl"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="custom-button-next3 -border lg:-right-6 right-2">
                        <span class="ph-bold ph-arrow-right text-xl"></span>
                    </button>
                </div>
            </div>
        </section>