{% extends 'base_public.html' %}
{% load static %}

{% block page_content %}
        <div class="error flex items-center justify-center w-screen h-screen">
            <div class="container flex max-xl:flex-col items-center justify-between gap-y-8">
                <img src="{% static 'assets/images/components/error.png' %}" alt="components/error" class="flex-shrink-0 xl:w-[55%] max-xl:max-h-[40vh] w-auto" />
                <div class="content w-fit">
                    <h1 class="md:text-9xl text-7xl font-bold">500</h1>
                    <h2 class="heading2 mt-6">Internal Server Error</h2>
                    <p class="body1 text-secondary mt-3">
                        Something went wrong on our end.<br class="max-sm:hidden" />
                        We're working to fix it. Please try again later.
                    </p>
                    <a href="index.html" class="button-main mt-6">Back To Homepage</a>
                </div>
            </div>
        </div>
{% endblock %}
