

        <div class="dashboard_main overflow-hidden lg:w-screen lg:h-screen flex sm:pt-20 pt-16">
            <div class="menu_dashboard overflow-hidden flex-shrink-0 min-[320px]:w-[280px] w-[80vw] h-full bg-white relative z-[2] max-lg:hidden">
                <div class="inner scrollbar_custom max-h-full py-6 px-3">
                    <div class="area">
                        <span class="px-6 text-xs font-semibold text-secondary uppercase">Overviews</span>
                        <ul class="list_link flex flex-col gap-2 mt-2">
                            <li>
                                <a href="candidates-dashboard.html" class="link flex items-center gap-3 w-full py-3 px-6 rounded-lg duration-300 hover:bg-background">
                                    <span class="ph-duotone ph-squares-four text-2xl text-secondary"></span>
                                    <strong class="text-title">Dashboard</strong>
                                </a>
                            </li>
                            <li>
                                <a href="candidates-messages.html" class="link flex items-center gap-3 w-full py-3 px-6 rounded-lg duration-300 hover:bg-background">
                                    <span class="ph-duotone ph-chats text-2xl text-secondary"></span>
                                    <strong class="text-title">Messages</strong>
                                </a>
                            </li>
                            <li>
                                <a href="candidates-bookmarks.html" class="link flex items-center gap-3 w-full py-3 px-6 rounded-lg duration-300 hover:bg-background">
                                    <span class="ph-duotone ph-bookmarks-simple text-2xl text-secondary"></span>
                                    <strong class="text-title">My Bookmarks</strong>
                                </a>
                            </li>
                            <li>
                                <a href="candidates-meetings.html" class="link flex items-center gap-3 w-full py-3 px-6 rounded-lg duration-300 hover:bg-background">
                                    <span class="ph-duotone ph-chalkboard-teacher text-2xl text-secondary"></span>
                                    <strong class="text-title">Video Meetings</strong>
                                </a>
                            </li>
                            <li>
                                <a href="candidates-jobs-alerts.html" class="link flex items-center gap-3 w-full py-3 px-6 rounded-lg duration-300 hover:bg-background">
                                    <span class="ph-duotone ph-bell text-2xl text-secondary"></span>
                                    <strong class="text-title">Jobs alerts</strong>
                                </a>
                            </li>
                            <li>
                                <a href="candidates-earnings.html" class="link flex items-center gap-3 w-full py-3 px-6 rounded-lg duration-300 hover:bg-background">
                                    <span class="ph-duotone ph-hand-coins text-2xl text-secondary"></span>
                                    <strong class="text-title">Earnings</strong>
                                </a>
                            </li>
                            <li>
                                <a href="candidates-payouts.html" class="link flex items-center gap-3 w-full py-3 px-6 rounded-lg duration-300 hover:bg-background">
                                    <span class="ph-duotone ph-credit-card text-2xl text-secondary"></span>
                                    <strong class="text-title">Payouts</strong>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="area mt-6">
                        <span class="px-6 text-xs font-semibold text-secondary uppercase">Management</span>
                        <ul class="list_link flex flex-col gap-2 mt-2">
                            <li>
                                <a href="candidates-proposals.html" class="link flex items-center gap-3 w-full py-3 px-6 rounded-lg duration-300 hover:bg-background">
                                    <span class="ph-duotone ph-gavel text-2xl text-secondary"></span>
                                    <strong class="text-title">My Proposals</strong>
                                </a>
                            </li>
                            <li>
                                <a href="candidates-applied.html" class="link flex items-center gap-3 w-full py-3 px-6 rounded-lg duration-300 hover:bg-background">
                                    <span class="ph-duotone ph-notepad text-2xl text-secondary"></span>
                                    <strong class="text-title">My Applied</strong>
                                </a>
                            </li>
                            <li>
                                <a href="candidates-my-services.html" class="link flex items-center gap-3 w-full py-3 px-6 rounded-lg duration-300 hover:bg-background">
                                    <span class="ph-duotone ph-stack text-2xl text-secondary"></span>
                                    <strong class="text-title">My Services</strong>
                                </a>
                            </li>
                            <li>
                                <a href="candidates-active-work.html" class="link flex items-center gap-3 w-full py-3 px-6 rounded-lg duration-300 hover:bg-background">
                                    <span class="ph-duotone ph-briefcase text-2xl text-secondary"></span>
                                    <strong class="text-title">Active Work</strong>
                                </a>
                            </li>
                            <li>
                                <a href="candidates-service-orders.html" class="link flex items-center gap-3 w-full py-3 px-6 rounded-lg duration-300 hover:bg-background">
                                    <span class="ph-duotone ph-clock-countdown text-2xl text-secondary"></span>
                                    <strong class="text-title">Service Orders</strong>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="area mt-6">
                        <span class="px-6 text-xs font-semibold text-secondary uppercase">User</span>
                        <ul class="list_link flex flex-col gap-2 mt-2">
                            <li>
                                <a href="candidates-profile.html" class="link flex items-center gap-3 w-full py-3 px-6 rounded-lg duration-300 hover:bg-background">
                                    <span class="ph-duotone ph-user-circle text-2xl text-secondary"></span>
                                    <strong class="text-title">My Profile</strong>
                                </a>
                            </li>
                            <li>
                                <a href="candidates-profile-setting.html" class="link flex items-center gap-3 w-full py-3 px-6 rounded-lg duration-300 hover:bg-background active">
                                    <span class="ph-duotone ph-read-cv-logo text-2xl text-secondary"></span>
                                    <strong class="text-title">Profile Setting</strong>
                                </a>
                            </li>
                            <li>
                                <a href="candidates-my-packages.html" class="link flex items-center gap-3 w-full py-3 px-6 rounded-lg duration-300 hover:bg-background">
                                    <span class="ph-duotone ph-currency-circle-dollar text-2xl text-secondary"></span>
                                    <strong class="text-title">My Packages</strong>
                                </a>
                            </li>
                            <li>
                                <a href="candidates-change-passwords.html" class="link flex items-center gap-3 w-full py-3 px-6 rounded-lg duration-300 hover:bg-background">
                                    <span class="ph-duotone ph-lock-key-open text-2xl text-secondary"></span>
                                    <strong class="text-title">Change Passwords</strong>
                                </a>
                            </li>
                            <li>
                                <a href="candidates-delete-profile.html" class="link flex items-center gap-3 w-full py-3 px-6 rounded-lg duration-300 hover:bg-background">
                                    <span class="ph-duotone ph-trash text-2xl text-secondary"></span>
                                    <strong class="text-title">Delete Profile</strong>
                                </a>
                            </li>
                            <li>
                                <a href="login.html" class="link flex items-center gap-3 w-full py-3 px-6 rounded-lg duration-300 hover:bg-background">
                                    <span class="ph-duotone ph-sign-out text-2xl text-secondary"></span>
                                    <strong class="text-title">Log Out</strong>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="dashboard_applied scrollbar_custom w-full bg-surface">
                <form class="container h-fit lg:pt-15 lg:pb-30 max-lg:py-12 max-sm:py-8">
                    <button class="btn_open_popup btn_menu_dashboard flex items-center gap-2 lg:hidden" data-type="menu_dashboard">
                        <span class="ph ph-squares-four text-xl"></span>
                        <strong class="text-button">Menu</strong>
                    </button>
                    <div class="heading flex flex-wrap items-center justify-between gap-4">
                        <h4 class="heading4 max-lg:mt-3">Edit profile</h4>
                        <button class="button-main" type="submit">Save & Publish</button>
                    </div>
                    <div class="cv_file p-8 mt-7.5 rounded-lg bg-white shadow-sm">
                        <h5 class="heading5">CV File</h5>
                        <ul class="list_file flex flex-wrap items-center gap-10 gap-y-5 mt-5">
                            <li class="item flex items-center gap-3">
                                <a href="#!" class="flex flex-shrink-0 items-center justify-between gap-3 min-[400px]:w-[276px] w-[220px] h-[76px] p-3 rounded-lg bg-surface duration-300 hover:bg-background">
                                    <div class="overflow-hidden">
                                        <span class="text-sm font-bold text-secondary uppercase whitespace-nowrap">file_name_pdf</span>
                                        <strong class="block mt-1 text-title cursor-pointer">PDF</strong>
                                    </div>
                                    <span class="ph ph-file-pdf flex-shrink-0 text-4xl text-primary"></span>
                                </a>
                                <button class="btn_delete flex-shrink-0">
                                    <span class="ph-bold ph-x text-2xl text-red block"></span>
                                </button>
                            </li>
                            <li class="item flex items-center gap-3">
                                <a href="#!" class="flex flex-shrink-0 items-center justify-between gap-3 min-[400px]:w-[276px] w-[220px] h-[76px] p-3 rounded-lg bg-surface duration-300 hover:bg-background">
                                    <div class="overflow-hidden">
                                        <span class="text-sm font-bold text-secondary uppercase whitespace-nowrap">file_name_doc</span>
                                        <strong class="block mt-1 text-title cursor-pointer">DOC</strong>
                                    </div>
                                    <span class="ph ph-file-doc flex-shrink-0 text-4xl text-primary"></span>
                                </a>
                                <button class="btn_delete flex-shrink-0">
                                    <span class="ph-bold ph-x text-2xl text-red block"></span>
                                </button>
                            </li>
                        </ul>
                        <div class="flex flex-wrap items-center gap-3 w-full mt-6">
                            <div class="upload_file flex items-center gap-3 w-[220px] px-3 py-2 border border-line rounded">
                                <label for="file_attached" class="caption2 py-1 px-3 rounded bg-line whitespace-nowrap cursor-pointer">Choose File</label>
                                <input type="file" name="file_attached" id="file_attached" class="caption2 cursor-pointer" />
                            </div>
                            <span class="caption1 text-secondary">Upload file PDF, Doc, Docx</span>
                        </div>
                    </div>
                    <div class="infomation p-8 mt-7.5 rounded-lg bg-white shadow-sm">
                        <h5 class="heading5">Infomation</h5>
                        <div class="grid sm:grid-cols-2 gap-5 mt-5">
                            <div class="upload_image col-span-full">
                                <label for="uploadImage">Upload a new avatar: <span class="text-red">*</span></label>
                                <div class="flex flex-wrap items-center gap-5 mt-3">
                                    <div class="bg_img flex-shrink-0 relative w-[7.5rem] h-[7.5rem] rounded-md overflow-hidden border border-dashed border-line bg-surface">
                                        <span class="ph ph-image text-5xl absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-secondary"></span>
                                        <img src="#" alt="preview img" class="upload_img relative z-[1] w-full h-full object-cover hidden" />
                                    </div>
                                    <div>
                                        <strong class="text-button">Upload Avatar</strong>
                                        <p class="caption1 text-secondary mt-1">JPG 320x240px</p>
                                        <div class="upload_file flex items-center gap-3 w-[220px] mt-3 px-3 py-2 border border-line rounded">
                                            <label for="uploadImage" class="caption2 py-1 px-3 rounded bg-line whitespace-nowrap cursor-pointer">Choose File</label>
                                            <input type="file" name="uploadImage" id="uploadImage" accept="image/*" class="caption2 cursor-pointer" required />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="full_name">
                                <label for="fullName">Full Name: <span class="text-red">*</span></label>
                                <input class="w-full h-12 px-4 mt-2 border-line rounded-lg capitalize" id="fullName" type="text" placeholder="Full Name..." value="Candidates name" required />
                            </div>
                            <div class="birth">
                                <label for="birth">Date of birth: <span class="text-red">*</span></label>
                                <input class="w-full h-12 px-4 mt-2 border-line rounded-lg" id="birth" type="text" placeholder="Date of birth..." value="April 8, 1997" required />
                            </div>
                            <div class="phone_number">
                                <label for="phoneNumber">Phone number: <span class="text-red">*</span></label>
                                <input class="w-full h-12 px-4 mt-2 border-line rounded-lg" id="phoneNumber" type="text" placeholder="Phone Number..." value="+12-345-678-910" required />
                            </div>
                            <div class="email_address">
                                <label for="emailAddress">Email address: <span class="text-red">*</span></label>
                                <input class="w-full h-12 px-4 mt-2 border-line rounded-lg" id="emailAddress" type="email" placeholder="Email Address..." value="hi.avitex@gmail.com" required />
                            </div>
                            <div class="gender">
                                <label>Gender: <span class="text-red">*</span></label>
                                <div class="select_block flex items-center w-full h-12 pr-10 pl-4 mt-2 border border-line rounded-lg">
                                    <div class="select">
                                        <span class="selected capitalize" data-title="Male">Male</span>
                                        <ul class="list_option scrollbar_custom w-full max-h-[200px] bg-white">
                                            <li class="capitalize" data-item="Male">Male</li>
                                            <li class="capitalize" data-item="Female">Female</li>
                                            <li class="capitalize" data-item="Other">Other</li>
                                        </ul>
                                    </div>
                                    <span class="icon_down ph ph-caret-down right-3"></span>
                                </div>
                            </div>
                            <div class="age">
                                <label for="age">Age: <span class="text-red">*</span></label>
                                <input class="w-full h-12 px-4 mt-2 border-line rounded-lg" id="age" type="text" placeholder="Age..." value="24" required />
                            </div>
                            <div class="salary">
                                <label for="salary">Offered salary ($): <span class="text-red">*</span></label>
                                <input class="w-full h-12 px-4 mt-2 border-line rounded-lg" id="salary" type="text" placeholder="Offered salary..." value="2500" required />
                            </div>
                            <div class="salary_type">
                                <label>Salary type: <span class="text-red">*</span></label>
                                <div class="select_block flex items-center w-full h-12 pr-10 pl-4 mt-2 border border-line rounded-lg">
                                    <div class="select">
                                        <span class="selected capitalize" data-title="Month">Month</span>
                                        <ul class="list_option scrollbar_custom w-full max-h-[200px] bg-white">
                                            <li class="capitalize" data-item="Month">Month</li>
                                            <li class="capitalize" data-item="Week">Week</li>
                                            <li class="capitalize" data-item="Day">Day</li>
                                            <li class="capitalize" data-item="Hour">Hour</li>
                                        </ul>
                                    </div>
                                    <span class="icon_down ph ph-caret-down right-3"></span>
                                </div>
                            </div>
                            <div class="experience_time col-span-full">
                                <label>Experience time: <span class="text-red">*</span></label>
                                <div class="select_block flex items-center w-full h-12 pr-10 pl-4 mt-2 border border-line rounded-lg">
                                    <div class="select">
                                        <span class="selected capitalize" data-title="4 Years">4 Years</span>
                                        <ul class="list_option scrollbar_custom w-full max-h-[200px] bg-white">
                                            <li class="capitalize" data-item="> 4 Years">> 4 Years</li>
                                            <li class="capitalize" data-item="4 Years">4 Years</li>
                                            <li class="capitalize" data-item="3 Years">3 Years</li>
                                            <li class="capitalize" data-item="2 Years">2 Years</li>
                                            <li class="capitalize" data-item="1 Years">1 Years</li>
                                            <li class="capitalize" data-item="&lt; 1 Years">&lt; 1 Years</li>
                                        </ul>
                                    </div>
                                    <span class="icon_down ph ph-caret-down right-3"></span>
                                </div>
                            </div>
                            <div class="language col-span-full">
                                <label>Language: <span class="text-red">*</span></label>
                                <div class="category-selector relative flex flex-wrap items-center justify-between gap-y-2 w-full min-h-12 px-4 py-1 mt-2 border border-line rounded-lg">
                                    <input class="languageInput w-full min-h-8" type="text" placeholder="Type to search language..." />
                                    <div class="selectedCategories selected-categories w-fit flex-shrink-0"></div>
                                    <ul class="categoryList category-list"></ul>
                                </div>
                            </div>
                            <div class="categories col-span-full">
                                <label>Categories: <span class="text-red">*</span></label>
                                <div class="category-selector relative flex flex-wrap items-center justify-between gap-y-2 w-full min-h-12 px-4 py-1 mt-2 border border-line rounded-lg">
                                    <input class="categoryInput w-full min-h-8" type="text" placeholder="Type to search categories..." />
                                    <div class="selectedCategories selected-categories w-fit flex-shrink-0"></div>
                                    <ul class="categoryList category-list"></ul>
                                </div>
                            </div>
                            <div class="tools col-span-full">
                                <label>Tools: <span class="text-red">*</span></label>
                                <div class="category-selector relative flex flex-wrap items-center justify-between gap-y-2 w-full min-h-12 px-4 py-1 mt-2 border border-line rounded-lg">
                                    <input class="toolsInput w-full min-h-8" type="text" placeholder="Type to search tools..." />
                                    <div class="selectedCategories selected-categories w-fit flex-shrink-0"></div>
                                    <ul class="categoryList category-list"></ul>
                                </div>
                            </div>
                            <div class="desc col-span-full">
                                <label>Decscription: <span class="text-red">*</span></label>
                                <div class="form_editor mt-2">
                                    <div id="editor"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="map_location p-8 mt-7.5 rounded-lg bg-white shadow-sm">
                        <h5 class="heading5">Map Location</h5>
                        <div class="grid sm:grid-cols-2 gap-5 mt-5">
                            <div class="address col-span-full">
                                <label for="address">Address:</label>
                                <input class="w-full h-12 px-4 mt-2 border-line rounded-lg" id="address" type="text" placeholder="Address..." value="Block 637 HDB Veerasamy" />
                            </div>
                            <div class="location">
                                <label>Location:</label>
                                <div class="select_block flex items-center w-full h-12 pr-10 pl-4 mt-2 border border-line rounded-lg">
                                    <div class="select">
                                        <span class="selected capitalize" data-title="Singapore">Singapore</span>
                                        <ul class="list_option scrollbar_custom w-full max-h-[200px] bg-white">
                                            <li class="capitalize" data-item="Singapore">Singapore</li>
                                            <li class="capitalize" data-item="Japan">Japan</li>
                                            <li class="capitalize" data-item="South Korea">South Korea</li>
                                            <li class="capitalize" data-item="United State">United State</li>
                                            <li class="capitalize" data-item="France">France</li>
                                            <li class="capitalize" data-item="Germany">Germany</li>
                                            <li class="capitalize" data-item="United Kingdom">United Kingdom</li>
                                        </ul>
                                    </div>
                                    <span class="icon_down ph ph-caret-down right-3"></span>
                                </div>
                            </div>
                            <div class="map_location">
                                <label for="mapLocation">Map Location:</label>
                                <input class="w-full h-12 px-4 mt-2 border-line rounded-lg" id="mapLocation" type="text" placeholder="Map Location..." value="Block 637 HDB Veerasamy" />
                            </div>
                            <div class="map col-span-full h-[300px] overflow-hidden rounded-lg">
                                <iframe class="w-full h-full" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1909.7091869357298!2d103.85507140013029!3d1.30702053658505!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da19b81a53a2cf%3A0xb073ded76264e6ec!2sBlock%20637%20HDB%20Veerasamy!5e1!3m2!1svi!2s!4v1722584665648!5m2!1svi!2s" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                            <div class="lat_location">
                                <input class="w-full h-12 px-4 mt-2 border-line rounded-lg" id="latLocation" type="text" placeholder="Lat Location..." value="1.306833" />
                            </div>
                            <div class="lng_location">
                                <input class="w-full h-12 px-4 mt-2 border-line rounded-lg" id="lngLocation" type="text" placeholder="Lng Location..." value="103.855534" />
                            </div>
                        </div>
                    </div>
                    <div class="social_network list_social p-8 mt-7.5 rounded-lg bg-white shadow-sm">
                        <h5 class="heading5">Social Network</h5>
                        <div class="list grid sm:grid-cols-2 gap-5 mt-5">
                            <div class="flex items-center gap-4">
                                <label for="facebookAddress" class="w-12 h-12 flex flex-shrink-0 items-center justify-center border border-line rounded-full duration-300 hover:bg-primary cursor-pointer">
                                    <span class="icon-facebook text-lg"></span>
                                </label>
                                <input class="w-full h-12 px-4 border-line rounded-lg" id="facebookAddress" type="text" placeholder="Address..." value="https://www.facebook.com/candidates" />
                            </div>
                            <div class="flex items-center gap-4">
                                <label for="linkedinAddress" class="w-12 h-12 flex flex-shrink-0 items-center justify-center border border-line rounded-full duration-300 hover:bg-primary cursor-pointer">
                                    <span class="icon-linkedin text-lg"></span>
                                </label>
                                <input class="w-full h-12 px-4 border-line rounded-lg" id="linkedinAddress" type="text" placeholder="Address..." value="https://www.linkedin.com/candidates" />
                            </div>
                            <div class="flex items-center gap-4">
                                <label for="twitterAddress" class="w-12 h-12 flex flex-shrink-0 items-center justify-center border border-line rounded-full duration-300 hover:bg-primary cursor-pointer">
                                    <span class="icon-twitter text-lg"></span>
                                </label>
                                <input class="w-full h-12 px-4 border-line rounded-lg" id="twitterAddress" type="text" placeholder="Address..." value="https://www.twitter.com/candidates" />
                            </div>
                            <div class="flex items-center gap-4">
                                <label for="pinterestAddress" class="w-12 h-12 flex flex-shrink-0 items-center justify-center border border-line rounded-full duration-300 hover:bg-primary cursor-pointer">
                                    <span class="icon-pinterest text-lg"></span>
                                </label>
                                <input class="w-full h-12 px-4 border-line rounded-lg" id="pinterestAddress" type="text" placeholder="Address..." value="https://www.pinterest.com/candidates" />
                            </div>
                            <div class="flex items-center gap-4">
                                <label for="instagramAddress" class="w-12 h-12 flex flex-shrink-0 items-center justify-center border border-line rounded-full duration-300 hover:bg-primary cursor-pointer">
                                    <span class="icon-instagram text-lg"></span>
                                </label>
                                <input class="w-full h-12 px-4 border-line rounded-lg" id="instagramAddress" type="text" placeholder="Address..." value="https://www.instagram.com/candidates" />
                            </div>
                            <div class="flex items-center gap-4">
                                <label for="youtubeAddress" class="w-12 h-12 flex flex-shrink-0 items-center justify-center border border-line rounded-full duration-300 hover:bg-primary cursor-pointer">
                                    <span class="icon-youtube text-lg"></span>
                                </label>
                                <input class="w-full h-12 px-4 border-line rounded-lg" id="youtubeAddress" type="text" placeholder="Address..." value="https://www.youtube.com/candidates" />
                            </div>
                        </div>
                    </div>
                    <div class="education p-8 mt-7.5 rounded-lg bg-white shadow-sm">
                        <h5 class="heading5">Education</h5>
                        <ul class="list grid gap-5 mt-5">
                            <li class="item px-5 rounded-lg border border-line">
                                <div class="toggle_item">
                                    <div class="heading flex items-center gap-2 py-5">
                                        <button type="button" class="btn_delete ph-fill ph-x-circle text-red text-2xl flex-shrink-0 cursor-pointer"></button>
                                        <div class="flex items-center justify-between w-full cursor-pointer">
                                            <strong class="text-title">Education 1</strong>
                                            <span class="ph ph-pencil-simple-line text-2xl"></span>
                                        </div>
                                    </div>
                                    <div class="toggle_menu py-5 border-t border-line hidden">
                                        <div class="form grid grid-cols-2 gap-5">
                                            <div class="specialized">
                                                <label for="specialized1">Specialized: <span class="text-red">*</span></label>
                                                <input class="w-full h-12 px-4 mt-2 border-line rounded-lg" id="specialized1" type="text" placeholder="Specialized..." value="UI/UX Design" required />
                                            </div>
                                            <div class="academy">
                                                <label for="academy1">Academy: <span class="text-red">*</span></label>
                                                <input class="w-full h-12 px-4 mt-2 border-line rounded-lg" id="academy1" type="text" placeholder="Academy..." value="Harvard University" required />
                                            </div>
                                            <div class="time_from">
                                                <label for="timeEduFrom1">From: <span class="text-red">*</span></label>
                                                <input class="w-full h-12 px-4 mt-2 border-line rounded-lg" id="timeEduFrom1" type="date" required />
                                            </div>
                                            <div class="time_to">
                                                <label for="timeEduTo1">To: <span class="text-red">*</span></label>
                                                <input class="w-full h-12 px-4 mt-2 border-line rounded-lg" id="timeEduTo1" type="date" required />
                                            </div>
                                            <div class="desc col-span-full">
                                                <label for="eduDesc1">Decscription: <span class="text-red">*</span></label>
                                                <textarea class="w-full p-4 mt-2 border-line rounded-lg" id="eduDesc1" rows="3" placeholder="Decscription..." required>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</textarea>
                                            </div>
                                            <div class="flex items-center gap-3 col-span-full">
                                                <span>Graduated:</span>
                                                <button type="button" class="toggle_btn active"></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="item px-5 rounded-lg border border-line">
                                <div class="toggle_item">
                                    <div class="heading flex items-center gap-2 py-5">
                                        <button type="button" class="btn_delete ph-fill ph-x-circle text-red text-2xl flex-shrink-0 cursor-pointer"></button>
                                        <div class="flex items-center justify-between w-full cursor-pointer">
                                            <strong class="text-title">Education 2</strong>
                                            <span class="ph ph-pencil-simple-line text-2xl"></span>
                                        </div>
                                    </div>
                                    <div class="toggle_menu py-5 border-t border-line hidden">
                                        <div class="form grid grid-cols-2 gap-5">
                                            <div class="specialized">
                                                <label for="specialized2">Specialized: <span class="text-red">*</span></label>
                                                <input class="w-full h-12 px-4 mt-2 border-line rounded-lg" id="specialized2" type="text" placeholder="Specialized..." value="UI/UX Design Course" required />
                                            </div>
                                            <div class="academy">
                                                <label for="academy2">Academy: <span class="text-red">*</span></label>
                                                <input class="w-full h-12 px-4 mt-2 border-line rounded-lg" id="academy2" type="text" placeholder="Academy..." value="Devpro" required />
                                            </div>
                                            <div class="time_from">
                                                <label for="timeEduFrom2">From: <span class="text-red">*</span></label>
                                                <input class="w-full h-12 px-4 mt-2 border-line rounded-lg" id="timeEduFrom2" type="date" required />
                                            </div>
                                            <div class="time_to">
                                                <label for="timeEduTo2">To: <span class="text-red">*</span></label>
                                                <input class="w-full h-12 px-4 mt-2 border-line rounded-lg" id="timeEduTo2" type="date" required />
                                            </div>
                                            <div class="desc col-span-full">
                                                <label for="eduDesc2">Decscription: <span class="text-red">*</span></label>
                                                <textarea class="w-full p-4 mt-2 border-line rounded-lg" id="eduDesc2" rows="3" placeholder="Decscription..." required>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</textarea>
                                            </div>
                                            <div class="flex items-center gap-3 col-span-full">
                                                <span>Graduated:</span>
                                                <button type="button" class="toggle_btn active"></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <button type="button" class="button-main -border gap-1 w-full mt-5">
                            <span class="ph ph-plus-circle text-2xl"></span>
                            <strong class="text-button">Add Education</strong>
                        </button>
                    </div>
                    <div class="work_experience p-8 mt-7.5 rounded-lg bg-white shadow-sm">
                        <h5 class="heading5">Work Experience</h5>
                        <ul class="list grid gap-5 mt-5">
                            <li class="item px-5 rounded-lg border border-line">
                                <div class="toggle_item">
                                    <div class="heading flex items-center gap-2 py-5">
                                        <button type="button" class="btn_delete ph-fill ph-x-circle text-red text-2xl flex-shrink-0 cursor-pointer"></button>
                                        <div class="flex items-center justify-between w-full cursor-pointer">
                                            <strong class="text-title">Experience 1</strong>
                                            <span class="ph ph-pencil-simple-line text-2xl"></span>
                                        </div>
                                    </div>
                                    <div class="toggle_menu py-5 border-t border-line hidden">
                                        <div class="form grid grid-cols-2 gap-5">
                                            <div class="job_title">
                                                <label for="jobTitle1">Job title: <span class="text-red">*</span></label>
                                                <input class="w-full h-12 px-4 mt-2 border-line rounded-lg" id="jobTitle1" type="text" placeholder="Job title..." value="UI/UX Designer" required />
                                            </div>
                                            <div class="company">
                                                <label for="company1">Company: <span class="text-red">*</span></label>
                                                <input class="w-full h-12 px-4 mt-2 border-line rounded-lg" id="company1" type="text" placeholder="Company..." value="Avitex Agency Inc." required />
                                            </div>
                                            <div class="time_from">
                                                <label for="timeExperienceFrom1">From: <span class="text-red">*</span></label>
                                                <input class="w-full h-12 px-4 mt-2 border-line rounded-lg" id="timeExperienceFrom1" type="date" required />
                                            </div>
                                            <div class="time_to">
                                                <label for="timeExperienceTo1">To: <span class="text-red">*</span></label>
                                                <input class="w-full h-12 px-4 mt-2 border-line rounded-lg" id="timeExperienceTo1" type="date" required />
                                            </div>
                                            <div class="desc col-span-full">
                                                <label for="experienceDesc1">Decscription: <span class="text-red">*</span></label>
                                                <textarea class="w-full p-4 mt-2 border-line rounded-lg" id="experienceDesc1" rows="3" placeholder="Decscription..." required>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</textarea>
                                            </div>
                                            <div class="flex items-center gap-3 col-span-full">
                                                <span>Currently work here:</span>
                                                <button type="button" class="toggle_btn"></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="item px-5 rounded-lg border border-line">
                                <div class="toggle_item">
                                    <div class="heading flex items-center gap-2 py-5">
                                        <button type="button" class="btn_delete ph-fill ph-x-circle text-red text-2xl flex-shrink-0 cursor-pointer"></button>
                                        <div class="flex items-center justify-between w-full cursor-pointer">
                                            <strong class="text-title">Experience 2</strong>
                                            <span class="ph ph-pencil-simple-line text-2xl"></span>
                                        </div>
                                    </div>
                                    <div class="toggle_menu py-5 border-t border-line hidden">
                                        <div class="form grid grid-cols-2 gap-5">
                                            <div class="job_title">
                                                <label for="jobTitle2">Job title: <span class="text-red">*</span></label>
                                                <input class="w-full h-12 px-4 mt-2 border-line rounded-lg" id="jobTitle2" type="text" placeholder="Job title..." value="UI/UX Designer" required />
                                            </div>
                                            <div class="company">
                                                <label for="company2">Company: <span class="text-red">*</span></label>
                                                <input class="w-full h-12 px-4 mt-2 border-line rounded-lg" id="company2" type="text" placeholder="Company..." value="Google Inc." required />
                                            </div>
                                            <div class="time_from">
                                                <label for="timeExperienceFrom2">From: <span class="text-red">*</span></label>
                                                <input class="w-full h-12 px-4 mt-2 border-line rounded-lg" id="timeExperienceFrom2" type="date" required />
                                            </div>
                                            <div class="time_to">
                                                <label for="timeExperienceTo2">To: <span class="text-red">*</span></label>
                                                <input class="w-full h-12 px-4 mt-2 border-line rounded-lg" id="timeExperienceTo2" type="date" required />
                                            </div>
                                            <div class="desc col-span-full">
                                                <label for="experienceDesc2">Decscription: <span class="text-red">*</span></label>
                                                <textarea class="w-full p-4 mt-2 border-line rounded-lg" id="experienceDesc2" rows="3" placeholder="Decscription..." required>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</textarea>
                                            </div>
                                            <div class="flex items-center gap-3 col-span-full">
                                                <span>Currently work here:</span>
                                                <button type="button" class="toggle_btn active"></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <button type="button" class="button-main -border gap-1 w-full mt-5">
                            <span class="ph ph-plus-circle text-2xl"></span>
                            <strong class="text-button">Add Experience</strong>
                        </button>
                    </div>
                </form>
                <div class="lg:fixed bottom-0 left-0 z-[1] lg:pl-[280px] flex items-center justify-center w-full h-15 bg-white duration-300 shadow-md">
                    <span class="copyright caption1 text-secondary">©2024 FreelanHub. All Rights Reserved</span>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal">
            <!-- menu_dashboard -->
            <div class="modal_item menu_dashboard -modal overflow-hidden relative flex-shrink-0 min-[320px]:w-[280px] w-[80vw] h-full bg-white" data-type="menu_dashboard">
                <div class="inner scrollbar_custom max-h-full py-6 px-3">
                    <div class="area">
                        <span class="px-6 text-xs font-semibold text-secondary uppercase">Overviews</span>
                        <ul class="list_link flex flex-col gap-2 mt-2">
                            <li>
                                <a href="#!" class="link flex items-center gap-3 w-full py-3 px-6 rounded-lg duration-300 hover:bg-background">
                                    <span class="ph-duotone ph-squares-four text-2xl text-secondary"></span>
                                    <strong class="text-title">Dashboard</strong>
                                </a>
                            </li>
                            <li>
                                <a href="candidates-messages.html" class="link flex items-center gap-3 w-full py-3 px-6 rounded-lg duration-300 hover:bg-background">
                                    <span class="ph-duotone ph-chats text-2xl text-secondary"></span>
                                    <strong class="text-title">Messages</strong>
                                </a>
                            </li>
                            <li>
                                <a href="candidates-bookmarks.html" class="link flex items-center gap-3 w-full py-3 px-6 rounded-lg duration-300 hover:bg-background">
                                    <span class="ph-duotone ph-bookmarks-simple text-2xl text-secondary"></span>
                                    <strong class="text-title">My Bookmarks</strong>
                                </a>
                            </li>
                            <li>
                                <a href="candidates-meetings.html" class="link flex items-center gap-3 w-full py-3 px-6 rounded-lg duration-300 hover:bg-background">
                                    <span class="ph-duotone ph-chalkboard-teacher text-2xl text-secondary"></span>
                                    <strong class="text-title">Video Meetings</strong>
                                </a>
                            </li>
                            <li>
                                <a href="candidates-jobs-alerts.html" class="link flex items-center gap-3 w-full py-3 px-6 rounded-lg duration-300 hover:bg-background">
                                    <span class="ph-duotone ph-bell text-2xl text-secondary"></span>
                                    <strong class="text-title">Jobs alerts</strong>
                                </a>
                            </li>
                            <li>
                                <a href="candidates-earnings.html" class="link flex items-center gap-3 w-full py-3 px-6 rounded-lg duration-300 hover:bg-background">
                                    <span class="ph-duotone ph-hand-coins text-2xl text-secondary"></span>
                                    <strong class="text-title">Earnings</strong>
                                </a>
                            </li>
                            <li>
                                <a href="candidates-payouts.html" class="link flex items-center gap-3 w-full py-3 px-6 rounded-lg duration-300 hover:bg-background">
                                    <span class="ph-duotone ph-credit-card text-2xl text-secondary"></span>
                                    <strong class="text-title">Payouts</strong>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="area mt-6">
                        <span class="px-6 text-xs font-semibold text-secondary uppercase">Management</span>
                        <ul class="list_link flex flex-col gap-2 mt-2">
                            <li>
                                <a href="candidates-proposals.html" class="link flex items-center gap-3 w-full py-3 px-6 rounded-lg duration-300 hover:bg-background">
                                    <span class="ph-duotone ph-gavel text-2xl text-secondary"></span>
                                    <strong class="text-title">My Proposals</strong>
                                </a>
                            </li>
                            <li>
                                <a href="candidates-applied.html" class="link flex items-center gap-3 w-full py-3 px-6 rounded-lg duration-300 hover:bg-background">
                                    <span class="ph-duotone ph-notepad text-2xl text-secondary"></span>
                                    <strong class="text-title">My Applied</strong>
                                </a>
                            </li>
                            <li>
                                <a href="candidates-my-services.html" class="link flex items-center gap-3 w-full py-3 px-6 rounded-lg duration-300 hover:bg-background">
                                    <span class="ph-duotone ph-stack text-2xl text-secondary"></span>
                                    <strong class="text-title">My Services</strong>
                                </a>
                            </li>
                            <li>
                                <a href="candidates-active-work.html" class="link flex items-center gap-3 w-full py-3 px-6 rounded-lg duration-300 hover:bg-background">
                                    <span class="ph-duotone ph-briefcase text-2xl text-secondary"></span>
                                    <strong class="text-title">Active Work</strong>
                                </a>
                            </li>
                            <li>
                                <a href="candidates-service-orders.html" class="link flex items-center gap-3 w-full py-3 px-6 rounded-lg duration-300 hover:bg-background">
                                    <span class="ph-duotone ph-clock-countdown text-2xl text-secondary"></span>
                                    <strong class="text-title">Service Orders</strong>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="area mt-6">
                        <span class="px-6 text-xs font-semibold text-secondary uppercase">User</span>
                        <ul class="list_link flex flex-col gap-2 mt-2">
                            <li>
                                <a href="candidates-profile.html" class="link flex items-center gap-3 w-full py-3 px-6 rounded-lg duration-300 hover:bg-background">
                                    <span class="ph-duotone ph-user-circle text-2xl text-secondary"></span>
                                    <strong class="text-title">My Profile</strong>
                                </a>
                            </li>
                            <li>
                                <a href="candidates-profile-setting.html" class="link flex items-center gap-3 w-full py-3 px-6 rounded-lg duration-300 hover:bg-background active">
                                    <span class="ph-duotone ph-read-cv-logo text-2xl text-secondary"></span>
                                    <strong class="text-title">Profile Setting</strong>
                                </a>
                            </li>
                            <li>
                                <a href="candidates-my-packages.html" class="link flex items-center gap-3 w-full py-3 px-6 rounded-lg duration-300 hover:bg-background">
                                    <span class="ph-duotone ph-currency-circle-dollar text-2xl text-secondary"></span>
                                    <strong class="text-title">My Packages</strong>
                                </a>
                            </li>
                            <li>
                                <a href="candidates-change-passwords.html" class="link flex items-center gap-3 w-full py-3 px-6 rounded-lg duration-300 hover:bg-background">
                                    <span class="ph-duotone ph-lock-key-open text-2xl text-secondary"></span>
                                    <strong class="text-title">Change Passwords</strong>
                                </a>
                            </li>
                            <li>
                                <a href="candidates-delete-profile.html" class="link flex items-center gap-3 w-full py-3 px-6 rounded-lg duration-300 hover:bg-background">
                                    <span class="ph-duotone ph-trash text-2xl text-secondary"></span>
                                    <strong class="text-title">Delete Profile</strong>
                                </a>
                            </li>
                            <li>
                                <a href="login.html" class="link flex items-center gap-3 w-full py-3 px-6 rounded-lg duration-300 hover:bg-background">
                                    <span class="ph-duotone ph-sign-out text-2xl text-secondary"></span>
                                    <strong class="text-title">Log Out</strong>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Modal -->